/* 
MARK: RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MARK: VARIABLE
*/

:root {
}

/* 
MARK: CUSTOM COMMON
*/
body {
  
}

.inner {
  width: 100%;
}

.container {
}

.container1 {
}

.sp-only {
  display: none;
}

.reverse {
  
}

/* MARK: CUSTOM TEXT
*/

.text {
  
}

.text1 {
  
}

/* MARK: CUSTOM OTHER
*/

.list-item {
}

.list-item::marker {
}

.other1 {
}

/* 
*-t\d : text
*-i\d : image
*-u\d : url
*-o\d : other
*-l\d : list
*-g\d : group
*/

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
  
  
}