@charset "utf-8";
/* -----------------------------------------------------------
	
	resturant style

----------------------------------------------------------- */
@import "settings";

/* -----------------------------------------------------------
	.con_title
----------------------------------------------------------- */
.restaurant .con_title {
	background-image: url(../images/restaurant/bg_title.jpg);
}

/* -----------------------------------------------------------
	.con_restaurant
----------------------------------------------------------- */
.restaurant .con_restaurant {
	
	.box_restaurant {
		margin-bottom: 60px;
		@include mq(sp) {
			margin-bottom: 50px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.ttl {
			font-weight: bold;
			font-size: 2.8rem;
			margin-bottom: 15px;
			@include mq(sp) {
				font-size: 1.8rem;
			}
			span {
				display: inline-block;
				background: $mainColor;
				color: #fff;
				margin-left: 10px;
				@include border-radius(5px);
				font-size: 1.6rem;
				padding: 0.2em 0.8em;
				line-height: 1.2;
				vertical-align: middle;
				@include mq(sp) {
					font-size: 1.2rem;
				}
			}
		}	
		.txt {
			margin-top: 25px;
			@include mq(sp) {
				margin-top: 15px;
			}
		}
		table {
			margin-top: 25px;
		}
	}
}