/* ----------------------------------------------------
　　
 ▼　体験できること_sp ▼

---------------------------------------------------- */
#page{margin: 0!important;  font-family: '游ゴシック','Yu Gothic','YuGothic','Meiryo UI','メイリオ','Meiryo UI',sans-serif;background-color: #fff!important;line-height: 1.6;font-size: 16px;margin: 0 auto;color: #333;letter-spacing: .02em;}
.kv {position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
    background: #c4a193;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body, div, section, p, img {
    margin: 0;
    padding: 0;}
.kv img{width: 100%;}
.title {position: absolute;}
.title h2 {color: #fff;text-align: center;font-size: 18px;margin-bottom: 0;text-shadow: 0 1px 10px #606060; letter-spacing: 1.7px;}
p {font-size: 14px; margin: 0 18px;}
/* ----------------------------------------------------
　　キャプション
---------------------------------------------------- */
.caption_prince {margin: 40px auto 0; padding-bottom: 40px;}
.caption_prince h1{font-size: 24px;color: #c6ab9c;font-weight: 600;text-align: center;}
.caption_prince h3{color: #1a1a1a;font-size: 18px;text-align: center;font-weight: 600;margin: 16px auto 20px;}

/* ----------------------------------------------------
　　リード画像
---------------------------------------------------- */
.read {width: 96%; margin: 0 auto 5px; display: flex;     justify-content: center;}
.read_box {position: relative;overflow: hidden;width: 33.3%; background: #c4a193;}
.read_box img{width: 100%;}
.read_text{position: absolute;left: 40%;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.7);text-align: left;-webkit-transform: translate(-40%,0);transform: translate(-40%,0);}
.read_box h2 {color: #fff;text-align: left;font-size: 10px;padding: 6px;margin-bottom: 0; letter-spacing: 1.7px;}
p {font-size: 14px; margin: 0 18px;}

/* ----------------------------------------------------
	体験できることコンテンツ
---------------------------------------------------- */
section {width: 100%;}
.lp_wrap * {box-sizing: border-box;}
.lp_main img {width: 100%; height: auto;}
.lp_cont {
    padding: 0 10px;
}
.lp_cont .lp_inner {
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 890px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-title {
    line-height: 1.7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.lp_cont .lp_cont-title::before {
    height: 100px;
    margin-top: 30px;
    font-weight: normal;
    text-align: center;
    display: block;
}

.lp_cont .lp_cont-image {
    margin-bottom: 6.77083vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.lp_cont .lp_cont-image .lp_cont-item {
    width: 48.9%;
}
.lp_cont .lp_cont-image .lp_cont-item:first-child {
    width: 100%;
}
.lp_cont .lp_cont-image .lp_cont-item:nth-child(2) {
    margin-right: 2.2%;
    width: 48.9%;
}
.lp_cont .lp_cont-wrap {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
.lp_cont .lp_cont-wrap .lp_cont-text {
    line-height: 1.8;
}
.lp_cont .lp_cont-wrap .lp_cont-link :hover{
    opacity: 0.7;
    transition: all 0.5s ease 0s;
}
.lp_btn, .lp_btn ._black {
    background-image: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/fd03ba2838e7451331fc3b3c0782b268ee2e375c.47.9.26.3.jpg)!important;
    background-position: right 20px center!important;
    background-repeat: no-repeat!important;
    background-size: auto 20px!important;
    padding: 1.5em 0!important;
    color: #fff!important;
    text-align: center!important;
    display: block!important;
}
.lp_btn._black{
    background: rgba(0, 0, 0, 1);
}
.toggle span, .lp_nav, .lp_btn {
    background: rgba(198, 171, 156, 1);
}
.lp_lead-title, .lp_cont-title::before, .lp_spot-title {
    color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-link .comingsoon {
    background-image: none;
    position: relative;
    pointer-events: none;
}
.lp_cont .lp_cont-link .comingsoon::before {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.lp_main .lp_cont:nth-child(1) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/efbed63ca809f6d1794eb9fa7563b14df176f1d8.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(2) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/4623b27421f17e08aef841627764fb434afae17a.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(3) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/b3409d1cfcce40dc3358717d931e0f68040ed1fb.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(4) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/6c6b48e1be0da6567069328aeeaba086b0cc0d0a.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(5) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/01279f6791282d1eb2a9557c1e4d16d5cc201d88.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(6) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/446f6a40fb301f62795140de22bffc4ddbb441a5.47.9.26.3.jpg);
    transform: scale(0.4);
}

/* ----------------------------------------------------
	lp_spot　周辺の見どころ
---------------------------------------------------- */
.lp_spot {
	padding: 50px 10px 0px;
}
.lp_spot  img {width: 100%;}

.lp_spot .lp_inner {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
}

.lp_spot .lp_spot-title {
	margin-bottom: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.lp_spot .lp_spot-list {
	display: flex;
	flex-wrap: wrap;
}

.lp_spot .lp_spot-list .lp_spot-item {
	margin: 0 2.2% 40px 0;
	width: 48.9%;
}

.lp_spot .lp_spot-list .lp_spot-item:nth-child(even) {
	margin-right: 0;
}

.lp_spot .lp_spot-detail {
	margin-top: 10px;
}

.lp_spot .lp_spot-detail dt {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
.lp_spot .lp_spot-detail dd p {
    font-size: 12px;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.lp_spot .lp_spot-detail dd a {
	padding-right: 1.2em;
	text-decoration: underline;
	position: relative;
}

.lp_spot .lp_spot-detail dd a::before {
	content: "＞";
}

.lp_spot .lp_spot-detail dd a::after {
	background: url(../img/icon01.png) center center no-repeat;
	background-size: 100% auto;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	content: "";
}

/* ----------------------------------------------------
	lp_guide アクセス
---------------------------------------------------- */
.lp_guide {
	background: rgba(240, 240, 240, 0.7);
	padding: 40px 10px 60px;
}

.lp_guide .lp_inner {
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
}

.lp_guide .lp_guide-logo {
	margin: 0 auto 20px;
	max-width: 140px;
	width: 100%;
}
.lp_guide .lp_guide-logo img{width: 100%;}

.lp_guide .lp_guide-lead {
	margin: 0 auto 30px;
	max-width: 780px;
	width: 100%;
}

.lp_guide .lp_guide-lead dt {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.lp_guide .lp_guide-lead dd {
	margin-bottom: 20px;
	line-height: 1.8;
}

.lp_guide .lp_guide-lead dd .lp_text { 
        font-size: 13.1px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.lp_guide .lp_guide-lead dd address {
	margin-bottom: 20px;
	font-style: normal;
	text-align: center;
	display: block;
}

.lp_guide .lp_guide-linkList {
	margin: 0 auto 40px;
	max-width: 780px;
	display: flex;
	justify-content: center;
}

.lp_guide .lp_guide-linkItem {
	margin-right: 5%;
	width: calc((100% - 5%) / 2);
	text-align: center;
}

.lp_guide .lp_guide-linkItem.mr0 {
	margin-right: 0;
	width: 100%;
}

.lp_guide .lp_guide-linkItem:nth-child(even) {
	margin-right: 0;
}
/* ----------------------------------------------------
　　
 ▼ 施設紹介_SP ▼

---------------------------------------------------- */

#cus_contents {margin-left: auto;}
#cus_page h2 {
font-size: 18px;
color: #222;
border-bottom: 1px solid #222;
margin: 0 auto 30px auto;
padding-bottom: 15px;
text-align: center;
width: 220px;
display: block;
}
#cus_page .row2 {
display:flex;
flex-wrap: wrap;
}
#cus_page .row2 .img {
display:flex;
align-items: center;
width: 50%;
}
#cus_page .row2 .img img {
width:100%;
overflow:hidden;
}
.content {margin-top: 60px;}
.content p {margin:30px 15px !important;}
.planbox{
margin: 40px 0 50px;
}
.planbox img{
width:100%;
}
.planbox .plan_ttl{
font-size: 16px;
font-weight: bold;
margin: 15px auto !important;
padding: 0 15px;
}
.planbox .plan_txt{
margin: 0 15px 15px!important;
}
.plan_more {
text-align: center;
background: #000;
margin: 15px;
padding: 15px;
}
.plan_more a{
color: #fff;
}
#cus_page .btn2 {
background-color: #c2ac9e;
text-decoration: none;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: -20px 15px 0;
padding: 15px 30px;
}
footer {
background-color: #000;
text-align: center;
color: #fff;
margin-top: 60px;
padding: 40px 15px;
}
footer #name{
margin-bottom: 15px;
}
section.cst-module-carousel .cst-module-carousel-images img {
    width: 100%;
}
/* ----------------------------------------------------
　　
 ▼ sp-page共有 ▼

---------------------------------------------------- */
/* ▼  all  ▼ */
.sp-page {
    width: 100%;
    background-color: #fff;
}
.sp-page * {
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 1px;
}
/* ▲  all  ▲ */

/* ▼  header  ▼ */
.sp-page header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    overflow: hidden;
}
.sp-page header img {
    height: 50vw;
}
.sp-page header h1 {
    position: absolute;
    color: #fff;
    text-shadow: 0 4px 20px #333;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
}
/* ▲  header  ▲ */

/* ▼  slider  ▼ */
.sp-page .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.sp-page .images {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    touch-action: pan-y;
    margin-top: 40px;
}
.sp-page .images::-webkit-scrollbar {
    display: none;
}
.sp-page .images > div {
    width: 100%;
    flex-shrink: 0;
    background: #eee;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.sp-page .slider img {
    width: 100%;
}

.sp-page .slider > a {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    background: #e0e0e0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 0.5rem;
    position: relative;
    margin-top: 1em;
    font-size: 1rem;
}
/* ▲  slider  ▲ */

/* ▼  slider_v2  ▼ */
.sp-page .slider_v2 {
    position: relative;
    width: 100%;
    min-height: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #000;
}
.sp-page .slider_v2 .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px);
}
.sp-page .slider_v2 input[type="radio"]:checked + .imgBx {
    z-index: 10;
    clip-path: circle(600px at center);
    transition-delay: 0.75s;
}
.sp-page .slider_v2 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sp-page .slider_v2 input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
}
/* ▲  slider_v2  ▲ */

/* ▼  table  ▼ */
.sp-page .table > table {
    border-collapse: collapse;
    margin: 1em auto;
    width: 100%;
}
.sp-page .table > table > tbody > tr > td {
    padding: 0.3em;
    width: 2.5em;
}
.sp-page .table .bar {
    border: solid 1px black;
}
/* ▲  table  ▲ */

/* ▼　main　▼ */
.sp-page main {
    margin: 32px 16px;
}
.sp-page .lead {
    margin: 32px 0;
    text-align: center;
}
/* ▲  main  ▲ */

/* ▼　footer　▼ */
.sp-page footer h3 {
    margin: 16px 0;
    letter-spacing: 3px;
}
/* ▲　footer　▲ */

/* ----------------------------------------------------
　　
 ▼ 客室 ▼

---------------------------------------------------- */
.rooms .lead {
    display: flex;
}
.rooms .lead > div{
    width: 50%;
    text-align: center;
    margin: 2em 5%;
    border-bottom: solid 1px black;
    position: relative;
}
.rooms .lead a{
    color: #000;
    text-decoration: none;
}
.rooms .lead h5::after{
   content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-bottom: solid 2px #707070;
    border-right: solid 2px #707070;
    transform: rotate(45deg);
    left: calc(50% - 0.5em);
    bottom: -1.3em;
}
.rooms .type {
    margin-bottom: 80px;
}
.rooms .room > h5 {
    margin-top: 2em;
}
.rooms .room .content {
    margin-top: 1em;
}
.rooms h3 {
    text-align: center;
    margin: 1em;
}
.rooms .facilities div {
    margin-bottom: 1em;
}
.rooms .facilities > div > h5 {
   text-align: center;
    border-bottom: solid 1px #000;
    margin: 5% auto;
    padding-bottom: 1em;
    width: 150px;
}
.rooms .facilities h5 {
    margin: 5% 0;
}
/* ----------------------------------------------------
　　
 ▼ レストラン ▼

---------------------------------------------------- */
.restaurant .content {
    margin: 32px 16px;
}
.restaurant img {
    width: 100%;
}
.restaurant .list-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.restaurant .list-container a:hover{
    opacity: 0.65;
}
.restaurant .list-item {
    width: calc(50% - 0.5rem);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.restaurant .cont-container .logo {
    width: 50%;
    margin: 32px auto 24px;
}
.restaurant .images {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
}
.restaurant .images > .image {
    width: 50%;
}
.restaurant pre {
    font-size: 16px;
}
.restaurant .table p {
    margin: 0!important;
}