/* 
MARK: RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto serif JP', serif;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.simplebar-content {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
  user-select: none
}

/* MARK: VARIABLE
*/

:root {
  --scrollbar-color: #ccc;
  --text-color: #000;
  --background-color: #fff;
}

/* 
MARK: CUSTOM COMMON
*/
body {}

.inner {
  width: 100%;
}

.container {}

.hidden {
  display: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.reverse {}

/* MARK: CUSTOM SCROLLBAR
*/

.simplebar-scrollbar::before {
  background-color: var(--scrollbar-color);
  width: 8px;
  border-radius: 4px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 0.8;
}

.simplebar-track.simplebar-vertical {
  width: 12px;
  background-color: transparent;
}

.simplebar-track.simplebar-horizontal {
  height: 12px;
  background-color: transparent;
}

/* MARK: CUSTOM TEXT
*/

.text {}

/* MARK: CUSTOM OTHER
*/

.list-item {}

.list-item::marker {}


/* 
*-t\d : text
*-i\d : image
*-u\d : url
*-o\d : other
*-l\d : list
*-g\d : group
*/

/* MARK: MAX WIDTH 768PX
*/

@media (max-width: 768px) {

  /* 
MARK: RESET
*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    pointer-events: none;
    user-select: none
  }

  /* MARK: VARIABLE
*/

  :root {
    --scrollbar-color: #ccc;
    --text-color: #000;
    --background-color: #fff;
  }

  /* 
MARK: CUSTOM COMMON
*/
  body {}

  .inner {
    width: 100%;
  }

  .container {}

  .hidden {
    display: none;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .reverse {}

  /* MARK: CUSTOM SCROLLBAR
*/


  /* MARK: CUSTOM TEXT
*/

  .text {}

  /* MARK: CUSTOM OTHER
*/

  .list-item {}

  .list-item::marker {}


}