/* 
MARK: RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  pointer-events: none;
  user-select: none
}

/* MARK: VARIABLE
*/

:root {
  --scrollbar-color: #ff5e00;
  --text-color: #000;
  --background-color: #fff;
}

@media (max-width: 1920px) {
  :root {
    --page-margin: calc((100vw - 1080px) / 2);
  }

}

@media (max-width: 1080px) {
  :root {
    --page-margin: 16px;
  }

}

/* 
MARK: CUSTOM
*/

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1080px;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/* MARK: CUSTOM SCROLLBAR
*/

.main-wrapper,
.simplebar-content {
  width: 100%;
  height: 100%;
}

.simplebar-scrollbar::before {
  background-color: var(--scrollbar-color);
  width: 8px;
  border-radius: 4px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 0.8;
}

.simplebar-track.simplebar-vertical {
  width: 12px;
  background-color: transparent;
}

.simplebar-track.simplebar-horizontal {
  height: 12px;
  background-color: transparent;
}

/* MARK: HEADER
*/

#header {
  height: calc(46.875 * 1vw);
  max-height: 900px;
  display: flex;
  background: #F0ECE4;
  position: relative;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: revealRight 1.2s ease-in-out forwards;
}

@keyframes revealRight {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  }
}

/* MARK: CUSTOM LAYOUT
*/

.cus-layout {
  max-width: 1920px;
  padding-left: var(--page-margin);
  display: grid;
  grid-template-columns: minmax(auto, 400px) auto;
  gap: 40px;
}

.cus-layout img {
  aspect-ratio: 16/9;
}

.cus-layout>div:not(:nth-child(2))>img {
  max-width: 520px;
}

.cus-layout>div:nth-child(3) {
  position: relative;
}

.cus-layout>div:nth-child(3)>img {
  width: calc(400px + var(--page-margin));
  position: absolute;
  right: 0;
  translate: 0 calc(-50% - 20px);
}

/* MARK: CUSTOM TITLE
*/

.cus-title {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 52px;
  align-items: center;
}

/* MARK: CUSTOM DATE
*/

.cus-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.cus-date>div {
  display: flex;
  flex-direction: column;
}

.cus-date>div:nth-child(2) {
  align-self: flex-end;
  height: 32px;
}

.cus-date>div>div {
  display: flex;
}

.cus-date>div>div span:not(:last-child) {
  font-size: 32px;
}


.cus-date>div span:last-child {
  writing-mode: sideways-rl;
  text-align: center;
}


/* MARK: CUSTOM LINK
*/

.cus-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
  background-color: #4E5C7F;
  padding: 20px;
  font-size: 52px;
}


.gap-10 {
  gap: 40px;
}


/* MARK: RESPONSIVE 768PX
*/

@media (max-width: 1370px) {
  .cus-layout>div:nth-child(3)>img {
    width: calc(100% + var(--page-margin) - 16px);
  }
}

/* MARK: RESPONSIVE 768PX
*/

@media (max-width: 768px) {

  .cus-layout>div:nth-child(3)>img {
    width: 100%;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

}