#sp{margin:auto; min-width:375px;box-sizing:borderbox;font-family: "Noto Serif JP", serif; background-color:#fff;}
#sp img{text-align:center; width:100%;}
#sp section{margin-bottom:60px; width:100%;}
#sp .catch {text-align: center;margin: 60px auto 100px auto;}
#sp .catch h3 {font-size: 20px;margin-bottom: 40px;background: none !important;}
#sp .catch .mb20{ margin-bottom:20px;}
#sp .catch p {letter-spacing: 3;line-height: 2;width: 90%;margin: auto;margin-bottom: 60px; font-size:15px;}
#sp .ttl{width:85%; margin:0 auto 40px auto;}
#sp #room img{margin-bottom:20px;}
#sp .top_cui{margin:0 auto 20px auto; width:90%;}
#sp .top_cui h2 {background: none;text-align: left;font-size: 20px;position: relative;margin: 0 auto 15px auto;    padding: 0 0 0 50px;}
#sp .top_cui h2:before {content: url(https://img.travel.rakuten.co.jp/share/image_up/184119/LARGE/0ea155b84d42aba369fd5e7582795b957e944dcf.47.9.26.3.gif);vertical-align: middle;padding-right: 5px;transform: scale(0.5);display: inline-block;position: absolute;top:0px;left: -5px;}
#sp .top_cui h2 span {display:inline-block;font-size: 12px;color: #9FA0A0;margin-left: 20px;font-family: "Noto Sans JP";}
#sp .exp {margin-bottom:20px;}
#sp .exp p{ width:90%; margin:10px auto 0 auto; text-align:center;}
#sp .more {display:flex;justify-content: flex-end;margin-right: 30px; margin-bottom:45px;}
#sp .more a{ display:block; color:#9FA0A0 !important; font-size:16px; text-decoration:none;font-family: "Noto Sans JP";}
#sp .more::after{content: '';width: 70px;height: 5px;border-bottom: solid 1px #707070;border-right: solid 1px #707070;transform: skew(45deg);margin-top: 17px; position:absolute;margin-right: -15px;}
#sp .btn {border: #2F2624 1px solid; width: 300px;text-align: center;margin: auto;-webkit-box-shadow:5px 5px 5px 0 #CCC;-moz-box-shadow:5px 5px 5px 0 #CCC;-o-box-shadow:5px 5px 5px 0 #CCC;-ms-box-shadow: 5px 5px 5px 0 #CCC;box-shadow: 5px 5px 5px 0 #CCC;}
#sp .btn a {display: block; padding: 20px 40px;color: #2F2624 !important; text-decoration:none;}
#sp h4 {font-size: 20px;border-left: #2F2624 22px solid;height: 22px;line-height: 22px;padding-left: 20px;margin-bottom: 20px; margin-left:20px; text-align:left;}
#sp .access-info{ padding:20px; margin-bottom:30px;}
#sp .access-info p {margin-bottom:5px; margin-top:0; font-size:15px;}
#sp .access-info p img{ width:30px; vertical-align:middle;}
#sp .way {padding-left: 35px;font-size: 15px; margin-bottom:25px;}
#sp #map{ overflow:hidden;margin: auto; text-align:center;}
.common-carousel {position: relative; width: 100%; text-align: center; margin-bottom: 10px;}
.common-carousel-flick {overflow:scroll; width: 100%;}
.common-carousel-4images {width: 1500px;}
.common-carousel-4images img {width: 100%; position: relative; left: 0px; top: 0px; z-index: 0; height: auto !important;}
.common-carousel .common-carousel-4images {height: 350px; left: 0; top: 0; background-color:#fff; overflow: hidden;display: flex;align-items: center;}
.common-carousel .common-carousel-4images li{width: 375px; height: auto !important; float: left;}
.common-carousel .common-carousel-4images a{display: block; overflow: hidden; -webkit-tap-highlight-color: transparent;}
.common-carousel-expe4images {width: 1500px;}
.common-carousel-expe4images img {width: 100%; position: relative; left: 0px; top: 0px; z-index: 0; height: auto !important;}
.common-carousel .common-carousel-expe4images {height: 203px; left: 0; top: 0; background-color:#fff; overflow: hidden;display: flex;align-items: center;}
.common-carousel .common-carousel-expe4images li{width: 375px; height: auto !important; float: left;}
.common-carousel .common-carousel-expe4images a{display: block; overflow: hidden; -webkit-tap-highlight-color: transparent;}
.common-carousel div.common-pagenation {position: relative; overflow: hidden; top: -18px;}
.common-controller li.common-controller-next, .common-controller li.common-controller-prev {list-style: none;}
.common-controller li a{height: auto !important; display: block; width: 40px; text-indent: 100%; white-space: nowrap; overflow: hidden; top: 0; position: absolute; z-index: 5; -webkit-tap-highlight-color: transparent;}
.common-controller li.common-controller-prev a {background-position: 17px 67px; left: 0; top: 50%;}
.common-controller li.common-controller-prev a span:after {display: block; position: absolute; top: 50%; left: 15px; width: 7px; height: 7px; margin-top: -5px; border-right: 3px solid #ccc; border-top: 3px solid #ccc; transform: rotate(225deg); content: "";}
.common-controller li.common-controller-next a span, .common-controller li.common-controller-prev a span {display: block; height: 100%; position: relative;}
.common-controller li.common-controller-next a {background-position: 11px -53px;right: 0; top: 50%;}
.common-controller li.common-controller-next a span:after {display: block;  position: absolute; top: 50%; right: 15px; width: 7px; height: 7px; margin-top: -5px; border-top: 3px solid #ccc; border-right: 3px solid #ccc; -webkit-transform: rotate(45deg); transform: rotate(45deg); content: "";}
.common-carousel .common-pagenation ul {position: relative; float: left; left: 50%; display: block;}
.common-carousel .common-pagenation:after {content: ""; display: block; clear: both;}
.common-carousel .common-pagenation li {position: relative; float: left; left: -50%; width: 6px; height: 6px; margin: 0 2px; z-index: 1; list-style: none;}
.common-carousel .common-pagenation li.common-active a {background: #fff;}
.common-carousel .common-pagenation li a {display: block; width: 6px; height: 6px; background: rgba(0,0,0,.8); border-radius: 3px; text-indent: -9999px; overflow: hidden; -webkit-tap-highlight-color: transparent;}
.common-carousel p {margin: 10px 0;text-align: center;font-size: 25px;}
.common-carousel span {font-size: 15px;}
#sp #footer{text-align: center;background-color: #E2E2E2;font-size: 15px;margin: 80px auto 0; padding:80px 0;}	
#sp #footer img{ width:65%;}

#sp .roomtype{ margin-bottom:30px;}
#sp .roomtype h3 {font-size: 20px;margin-bottom: 40px;background: none !important; text-align:center; line-height:36px;}
#sp .roomtype .text { width:90%; margin:auto;}
#sp .roomtype .text .detail {line-height: 27px; margin-bottom:30px; font-size:15px;}
#sp .sub_img{ display:flex;flex-wrap: wrap;}
#sp .sub_img img{ width:50%;}
#sp hr {border-top: 1px solid #2E2624; width:90%; margin-bottom:30px;}
#sp .chef .ttl {font-size: 25px;margin-bottom: 20px;margin-right: -60px;}
#sp .chef .ttl span {opacity: 0.1;font-size: 65px;font-family: Futura Bk BT;font-weight: normal; position: relative;left: -60px;top: 10px;}
#sp .chef .detail{ font-size:15px; line-height:27px; width:90%; margin:20px auto 60px;}
#sp .cui{margin-bottom:20px;}
#sp .cui h2 {background: none;text-align: left;font-size: 20px;position: relative;margin: 0 auto 15px auto;    padding: 0 0 0 50px;}
#sp .cui h2:before {content: url(https://img.travel.rakuten.co.jp/share/image_up/184119/LARGE/0ea155b84d42aba369fd5e7582795b957e944dcf.47.9.26.3.gif);vertical-align: middle;padding-right: 5px;transform: scale(0.5);display: inline-block;position: absolute;top:0px;left: -5px;}
#sp .cui h2 span {display:inline-block;font-size: 12px;color: #9FA0A0;margin-left: 20px;font-family: "Noto Sans JP";}
#sp .cui .h2 {font-size: 20px; margin:0 20px 15px 20px;}
#sp .cui h2{ margin-left:20px;}
#sp .cui p{ font-size:15px; width:90%; margin:auto; line-height:27px; margin-bottom:25px;}
#sp .expe { margin-bottom:60px;}
#sp .expe .bk {background-color: #2E2624;color: #fff;padding: 20px;margin-bottom: 15px;}
#sp .expe .bk .ttl{ font-size:20px; margin:0 !important; padding:0; width: 100%;}
#sp .expe .bk p{ font-size:15px; margin:0; padding:0;}
#sp .expe .textbox {padding: 30px 20px 20px 20px;background: url(https://img.travel.rakuten.co.jp/share/image_up/184119/LARGE/524d0caa097782c1bc899d737d1b4ea794a10f3b.47.9.26.3.gif) repeat;font-size: 15px;text-align: center; line-height:27px;}
.expe .textbox h5{
	font-size:25px;
	text-align:center;
	margin:auto;
	border-top:2px solid #231815;
	border-bottom: 1px dashed #9fa0a0;
	padding:15px 0;
}
.expe .textbox dl{
	font-size:15px;
	display: flex;
    flex-wrap: wrap;
	line-height:30px;
	margin-top:20px;
	margin-bottom:20px;
	padding-left: 5%;
}
.expe .textbox dt{
	width: 25%;
	text-align-last: justify;
	margin-bottom:5px;
}
.expe .textbox dd{
	width:60%;
	text-align:left;
	margin-left:30px;
}
.expe .textbox .harf{
	width:100%;
	margin-bottom:5px;
}
.expe .ttl{
	font-size:25px;
	margin:0 auto 20px !important;
	text-align:center;
}
.expe_box .ttl{
	font-size:22px !important;
	margin-bottom:20px !important;
	line-height:36px !important;
	text-align:center;
}
.expe .l-harf{
	display:flex;
	flex-direction: column;
}
.expe .r-harf{
	display:flex;
	flex-direction: column;
}
.expe .r-harf p{
	font-size:15px;
	line-height:27px;
	padding:0 5px;
}
#sp .expe .bk .ttl{ font-size:20px; margin:0 0 5px 0; padding:0; width: 100%;}
#sp .expe .bk p{ font-size:15px; margin:0; padding:0;}
#sp .expe .textbox {padding: 40px 20px;background: url(https://img.travel.rakuten.co.jp/share/image_up/184119/LARGE/524d0caa097782c1bc899d737d1b4ea794a10f3b.47.9.26.3.gif) repeat;font-size: 15px;text-align: center; line-height:27px; margin-bottom:25px;}
#sp #acs_ttl { text-align:center;}
#sp #acs_ttl h2 { background: none;width: 58%;margin: 20px auto;}
#sp #acs_ttl .border{ width:50%; text-align:center; margin:30px auto;}
#sp #acs_map img{ width:auto; max-height:229px;}
#sp .trans { margin-bottom:40px;}
#sp .trans p { font-size:20px; line-height:36px; padding-left:20px;}
#sp .trans p img{ width:39px; vertical-align:middle;}
#sp .trans .directions{ width:64%; text-align:center; margin:auto;}
#sp .sigh_box h5 {font-size: 20px;width: 100%;margin:35px 0 20px 20px; line-height:36px;}
#sp .sigh_box div {padding: 20px; font-size:15px; line-height:27px;}
	