@charset "utf-8";
/* CSS Document */
#top_header{
	position: relative;
    overflow: hidden;
    width: 1920px;
    margin: auto;
    background: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    overflow: hidden;
}
.top__bb {
    width: 100vw;
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    overflow: hidden;
}
.top__bb__slider.slick-slider, .top__bb__slider .slick-list, .top__bb__slider .slick-track {
    height: 100%;
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.top__bb__slider {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slick-track:after {
    clear: both;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : auto;
  height     : 100%;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.slide img {
  display    : block;
  position   : absolute;
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 21s ease infinite;
}
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 7s }
.slide img:nth-of-type(3) { animation-delay: 14s }
@keyframes slideAnime{
   0% { opacity: 0 }
   8% { opacity: 1 }
  33% { opacity: 1 }
  41% { opacity: 0 }
 100% { opacity: 0 }
}
.top__bb__container {
    position: relative;
    z-index: 5;
}
.top__bb__title {
    margin: 0;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
}
.top__bb__logo {
    width: 160px;
    display: block;
    margin: 0 auto 45px;
}
.top__bb__title__catch {
    letter-spacing: .3em;
    margin-right: -1em;
    font-weight: 500;
}
.top__bb__prize-list {
    position: absolute;
    bottom: 50px;
    right: 70px;
}
.top__bb__prize-list li {
    list-style: none;
}
.top__bb__prize-list li img {
    width: 150px;
}
.top__bb__banner-list {
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 5;
}
.top__bb__banner-list li {
    list-style: none;
    padding-right: 10px;
}
.top__bb__banner-list li a {
    display: block;
}
.top__bb__banner-list li img {
    max-height: 70px;
}
.top__bb__review-box {
    position: absolute;
    bottom: 175px;
    left: 50px;
    z-index: 10;
}
.top__bb__review-box .btn-box {
    margin-top: 5px;
}
.btn-box {
    display: inline-block;
}
.top__bb__review-box .btn {
    min-width: 145px;
    height: 35px;
}
.btn.of-white-ghost {
    color: #fff !important;
    border: 1px solid;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0.5em 1em;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: bottom;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 0;
}
.top__bb:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 24, 21, 0.5);
}
.top__topics {
    padding-bottom: 50px;
}
.topics-list {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.topics-list__item {
    width: 33.33333%;
    padding: 0 15px 50px;
	list-style: none;
	box-sizing: border-box;
}
.section__container.of-large {
    max-width: 1200px;
}
.top__appeal__headline {
    color: #b28247;
    font-size: 18px;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    font-weight: 500;
}
.top__appeal__catch {
    text-align: center;
    font-size: 20px;
    color: #b28247;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    letter-spacing: .1em;
}
.top__appeal__description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
}
.top__bb__prize-list {
    position: absolute;
    bottom: 50px;
    right: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 5;
}
.appeal-list {
    display: flex;
    margin: 0 -5px;
    padding: 0;
}
.appeal-list > li {
    width: 33.33333%;
    padding: 0 5px;
}
.appeal-list > li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.appeal-list__slider {
    width: 100%;
}
.appeal-list__slider.slick-dotted.slick-slider {
    margin: 0;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.appeal-slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 244px;
  height     : 300px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
  float: left;
}
 /*===appeal01（4枚スライド）========= */
#appeal01 img {
  display    : block;
  position   : absolute;
  width      : auto;
  height     : 300px;
  opacity    : 0;
  animation  : slideAnime1 16s ease infinite;
}
#appeal01 img:nth-of-type(1) { animation-delay: 0s }
#appeal01 img:nth-of-type(2) { animation-delay: 4s }
#appeal01 img:nth-of-type(3) { animation-delay: 8s }
#appeal01 img:nth-of-type(4) { animation-delay: 12s }
@keyframes slideAnime1{
   0% { opacity: 0 }
   4% { opacity: 1 }
  25% { opacity: 1 }
  29% { opacity: 0 }
 100% { opacity: 0 }
}
 /*===appeal02（2枚スライド）========= */
#appeal02 img {
  display    : block;
  position   : absolute;
  width      : auto;
  height     : 300px;
  opacity    : 0;
  animation  : slideAnime2 8s ease infinite;
}
#appeal02 img:nth-of-type(1) { animation-delay: 0s }
#appeal02 img:nth-of-type(2) { animation-delay: 4s }
@keyframes slideAnime2{
   0% { opacity: 0 }
   8% { opacity: 1 }
  50% { opacity: 1 }
  58% { opacity: 0 }
 100% { opacity: 0 }
}
 /*===appeal03（3枚スライド）========= */
#appeal03 img {
  display    : block;
  position   : absolute;
  width      : auto;
  height     : 300px;
  opacity    : 0;
  animation  : slideAnime3 12s ease infinite;
}
#appeal03 img:nth-of-type(1) { animation-delay: 0s }
#appeal03 img:nth-of-type(2) { animation-delay: 4s }
#appeal03 img:nth-of-type(3) { animation-delay: 8s }
@keyframes slideAnime3{
   0% { opacity: 0 }
   5% { opacity: 1 }
  33% { opacity: 1 }
  38% { opacity: 0 }
 100% { opacity: 0 }
}
.appeal-list__txt-wrap {
    display: flex;
    justify-content: center;
}
.appeal-list__title {
    width: 30px;
    padding: 50px;
    color: #b28247;
    font-size: 30px;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    font-weight: 500;
    line-height: 1.5;
}
.appeal-list__title a {
    color: #b28247 !important;
    display: block;
}
.appeal-list__title a:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #b28247;
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/arw-right-gold.svg) center center/auto 10px no-repeat;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.appeal-list__txt-box {
    display: flex;
    background: rgba(255, 253, 250, 0.9);
    margin: -20px 20px 0 0;
    padding: 30px;
    flex-direction: row-reverse;
}
.appeal-list__txt-box {
    position: relative;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.appeal-list__txt-box__description{
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    line-height: 1.2;
    padding-top: 2em;
}
.appeal-list__txt-box__description .row {
    width: 16px;
    padding: 0 .2em;
}
.kakko {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    margin-bottom: -.5em;
}
.appeal-list__txt-box__title {
    width: 20px;
    font-size: 20px;
    padding-left: .5em;
    color: #b28247;
    font-weight: 500;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
}
.top__categories {
    background: url(https://kyoto.brightonhotels.co.jp//images/paper01.jpg) center center/360px auto;
}
.category-list {
    margin: 0;
    padding: 0;
}
.category-list li:nth-child(odd) {
    flex-direction: row;
}
.category-list li {
    display: flex;
    padding-bottom: 100px;
    flex-direction: row-reverse;
    list-style: none;
    align-items: stretch;
}
.category-list__img-box {
    width: 75%;
    padding-top: 70px;
    display: block;
}
.category-list li:nth-child(odd) .category-list__txt-box {
    padding: 0 0 0 50px;
}
.category-list__txt-box {
    width: 25%;
}
.category-list__txt-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.category-list li:nth-child(odd) .category-list__title {
    left: 100%;
    margin-left: -40px;
}
.category-list__title {
    width: 40px;
    font-size: 40px;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    font-weight: 500;
    position: relative;
}
.category-list__title__label {
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 12px;
    letter-spacing: .1em;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    margin-left: 15px;
    white-space: nowrap;
    opacity: .5;
}
.category-list__description {
    font-size: 14px;
    white-space: nowrap;
}
.category-list__btn-box {
    width: 190px;
}
.category-list__btn-box .btn {
    margin-top: 5px;
}
.btn.of-gold-ghost {
    color: #b28247;
    border: 1px solid;
    background: #fff;
}
.category-list__btn-box .btn {
    margin-top: 5px;
}
.btn:hover {
    opacity: 1;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.btn.of-navy {
    background: #0b0f38;
    color: #fff !important;
    border: none;
}
.btn:hover {
    opacity: 1;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.btn.of-navy:after {
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/arw-right-white.svg) center center/auto 6px no-repeat;
}
.u-with-arw:after, .btn.of-navy:after, .btn.of-gold-ghost.with-arw:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 50%;
    margin-left: .5em;
}
.category-list__img-box:hover {
    opacity: 1;
}
.thumb-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.thumb-nav .nav-item.of-access {
    background: url(https://kyoto.brightonhotels.co.jp/images/grandtop/access-bg.jpg) center center/cover no-repeat;
}
.thumb-nav .nav-item {
    display: flex;
    width: 400px;
    height: 260px;
    margin: 0 15px 30px;
    position: relative;
    color: #fff !important;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.thumb-nav .nav-item:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(35, 24, 21, 0.5);
}
.thumb-nav__txt-box {
    width: 20px;
    font-size: 20px;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    position: relative;
    padding: 0 5px;
}
.thumb-nav .nav-item:hover {
    opacity: 1;
}
.thumb-nav .nav-item:hover:before {
    background: rgba(35, 24, 21, 0.2);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.reserve-section {
    background: #f7f7f7;
}
.tate-title-section__body {
    width: 93%;
}
.reserve-icon-nav {
    background: #fff;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.reserve-icon-nav .nav-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.reserve-icon-nav .nav-item.of-stay:before {
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/stay-black-filled.png) center center/auto 28px no-repeat;
}
.reserve-icon-nav .nav-item:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.reserve-icon-nav .nav-item:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/arw-right-black.svg) center center/auto 6px no-repeat;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 1em;
}
.reserve-icon-nav .nav-item.of-airline:before {
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/airline-black-filled.png) center center/auto 18px no-repeat;
}
.tel-reserve-box.of-align-right {
    justify-content: flex-end;
}
.tel-reserve-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tel-reserve-box__title {
    font-size: 14px;
    margin-right: 20px;
}
.tel-reserve-box__tel {
    display: block;
    font-family: 'Noto Serif JP', "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif !important;
    font-size: 28px;
    font-weight: 500;
    background: url(https://kyoto.brightonhotels.co.jp/images/icons/tel-black-filled.png) left center/19px 24px no-repeat;
    padding-left: 30px;
    margin-right: 20px;
}
.u-font-18pt {
    font-size: 18px;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-initialized .slick-slide {
    display: block;
}
.media-list__item {
    width: 50%;
    padding: 0 25px 50px;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
}
.media-list__img {
    height: 300px;
}