/* ----------------------------------------------------
　　
 ▼　体験できること_sp ▼

---------------------------------------------------- */
#page{margin: 0!important;  font-family: '游ゴシック','Yu Gothic','YuGothic','Meiryo UI','メイリオ','Meiryo UI',sans-serif;background-color: #fff!important;line-height: 1.6;font-size: 16px;margin: 0 auto;color: #333;letter-spacing: .02em;}
.kv {position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
    background: #c4a193;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body, div, section, p, img {
    margin: 0;
    padding: 0;}
.kv img{width: 100%;}
.title {position: absolute;}
.title h2 {color: #fff;text-align: center;font-size: 18px;margin-bottom: 0;text-shadow: 0 1px 10px #606060; letter-spacing: 1.7px;}
p {font-size: 14px; margin: 0 18px;}

/* ----------------------------------------------------
　　キャプション
---------------------------------------------------- */
.caption_prince {margin: 40px auto 0; padding-bottom: 40px;}
.caption_prince h1{font-size: 24px;color: #c6ab9c;font-weight: 600;text-align: center;}
.caption_prince h3{color: #1a1a1a;font-size: 15px;text-align: center;font-weight: 600;margin: 16px auto 20px;}

/* ----------------------------------------------------
　　リード画像
---------------------------------------------------- */
.read {width: 96%; margin: 0 auto 5px; display: flex;     justify-content: center;}
.read_box {position: relative;overflow: hidden;width: 33.3%; background: #c4a193;}
.read_box img{width: 100%;}
.read_text{position: absolute;left: 40%;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.7);text-align: left;-webkit-transform: translate(-40%,0);transform: translate(-40%,0);}
.read_box h2 {color: #fff;text-align: left;font-size: 10px;padding: 6px;margin-bottom: 0; letter-spacing: 0.7px;}
p {font-size: 14px; margin: 0 18px;}

/* ----------------------------------------------------
	体験できることコンテンツ
---------------------------------------------------- */
section {width: 100%;}
.lp_wrap * {box-sizing: border-box;}
.lp_main img {width: 100%; height: auto;}
.lp_cont {
    padding: 0 10px;
}
.lp_cont .lp_inner {
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 890px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-title {
    line-height: 1.7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.lp_cont .lp_cont-title::before {
    height: 100px;
    margin-top: 30px;
    font-weight: normal;
    text-align: center;
    display: block;
}

.lp_cont .lp_cont-image {
    margin-bottom: 6.77083vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.lp_cont .lp_cont-image .lp_cont-item {
    width: 48.9%;
}
.lp_cont .lp_cont-image .lp_cont-item:first-child {
    width: 100%;
}
.lp_cont .lp_cont-image .lp_cont-item:nth-child(2) {
    margin-right: 2.2%;
    width: 48.9%;
}
.lp_cont .lp_cont-wrap {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
.lp_cont .lp_cont-wrap .lp_cont-text {
    line-height: 1.8;
}
.lp_cont .lp_cont-wrap .lp_cont-link :hover{
    opacity: 0.7;
    transition: all 0.5s ease 0s;
}
.lp_btn, .lp_btn ._black {
    background-image: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/fd03ba2838e7451331fc3b3c0782b268ee2e375c.47.9.26.3.jpg)!important;
    background-position: right 20px center!important;
    background-repeat: no-repeat!important;
    background-size: auto 20px!important;
    padding: 1.5em 0!important;
    color: #fff!important;
    text-align: center!important;
    display: block!important;
}
.lp_btn._black{
    background: rgba(0, 0, 0, 1);
}
.toggle span, .lp_nav, .lp_btn {
    background: rgba(198, 171, 156, 1);
}
.lp_lead-title, .lp_cont-title::before, .lp_spot-title {
    color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-link .comingsoon {
    background-image: none;
    position: relative;
    pointer-events: none;
}
.lp_cont .lp_cont-link .comingsoon::before {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.lp_main .lp_cont:nth-child(1) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/efbed63ca809f6d1794eb9fa7563b14df176f1d8.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(2) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/4623b27421f17e08aef841627764fb434afae17a.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(3) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/b3409d1cfcce40dc3358717d931e0f68040ed1fb.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(4) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/6c6b48e1be0da6567069328aeeaba086b0cc0d0a.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(5) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/01279f6791282d1eb2a9557c1e4d16d5cc201d88.47.9.26.3.jpg);
    transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(6) .lp_cont-title::before {
    content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/446f6a40fb301f62795140de22bffc4ddbb441a5.47.9.26.3.jpg);
    transform: scale(0.4);
}

/* ----------------------------------------------------
	lp_spot　周辺の見どころ
---------------------------------------------------- */
.lp_spot {
	padding: 50px 10px 0px;
}
.lp_spot  img {width: 100%;}

.lp_spot .lp_inner {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
}

.lp_spot .lp_spot-title {
	margin-bottom: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.lp_spot .lp_spot-list {
	display: flex;
	flex-wrap: wrap;
}

.lp_spot .lp_spot-list .lp_spot-item {
	margin: 0 2.2% 40px 0;
	width: 48.9%;
}

.lp_spot .lp_spot-list .lp_spot-item:nth-child(even) {
	margin-right: 0;
}

.lp_spot .lp_spot-detail {
	margin-top: 10px;
}

.lp_spot .lp_spot-detail dt {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
.lp_spot .lp_spot-detail dd p {
    font-size: 12px;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.lp_spot .lp_spot-detail dd a {
	padding-right: 1.2em;
	text-decoration: underline;
	position: relative;
}

.lp_spot .lp_spot-detail dd a::before {
	content: "＞";
}

.lp_spot .lp_spot-detail dd a::after {
	background: url(../img/icon01.png) center center no-repeat;
	background-size: 100% auto;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	content: "";
}

/* ----------------------------------------------------
	lp_guide アクセス
---------------------------------------------------- */
.lp_guide {
	background: rgba(240, 240, 240, 0.7);
	padding: 40px 10px 60px;
}

.lp_guide .lp_inner {
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
}

.lp_guide .lp_guide-logo {
	margin: 0 auto 20px;
	max-width: 140px;
	width: 100%;
}
.lp_guide .lp_guide-logo img{width: 100%;}

.lp_guide .lp_guide-lead {
	margin: 0 auto 30px;
	max-width: 780px;
	width: 100%;
}

.lp_guide .lp_guide-lead dt {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.lp_guide .lp_guide-lead dd {
	margin-bottom: 20px;
	line-height: 1.8;
}

.lp_guide .lp_guide-lead dd .lp_text { 
        font-size: 13.1px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.lp_guide .lp_guide-lead dd address {
	margin-bottom: 20px;
	font-style: normal;
	text-align: center;
	display: block;
}

.lp_guide .lp_guide-linkList {
	margin: 0 auto 40px;
	max-width: 780px;
	display: flex;
	justify-content: center;
}

.lp_guide .lp_guide-linkItem {
	margin-right: 5%;
	width: calc((100% - 5%) / 2);
	text-align: center;
}

.lp_guide .lp_guide-linkItem.mr0 {
	margin-right: 0;
	width: 100%;
}

.lp_guide .lp_guide-linkItem:nth-child(even) {
	margin-right: 0;
}
.title{z-index: 1;}
/* ----------------------------------------------------
　　
 ▼ 施設紹介_SP ▼

---------------------------------------------------- */

#cus_contents {margin-left: auto;}
#cus_page h2 {
font-size: 18px;
color: #222;
border-bottom: 1px solid #222;
margin: 0 auto 30px auto;
padding-bottom: 15px;
text-align: center;
width: 220px;
display: block;
}
#cus_page .row2 {
display:flex;
flex-wrap: wrap;
}
#cus_page .row2 .img {
display:flex;
align-items: center;
width: 50%;
}
#cus_page .row2 .img img {
width:100%;
overflow:hidden;
}
.content {margin-top: 60px;}
.content p {margin:30px 15px !important;}
.planbox{
margin: 40px 0 50px;
}
.planbox img{
width:100%;
}
.planbox .plan_ttl{
font-size: 16px;
font-weight: bold;
margin: 15px auto !important;
padding: 0 15px;
}
.planbox .plan_txt{
margin: 0 15px 15px!important;
}
.plan_more {
text-align: center;
background: #000;
margin: 15px;
padding: 15px;
}
.plan_more a{
color: #fff;
}
#cus_page .btn2 {
background-color: #c2ac9e;
text-decoration: none;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: -20px 15px 0;
padding: 15px 30px;
}
footer {
background-color: #000;
text-align: center;
color: #fff;
margin-top: 60px;
padding: 40px 15px;
}
footer #name{
margin-bottom: 15px;
}
section.cst-module-carousel .cst-module-carousel-images img {
    width: 100%;
}
/* ----------------------------------------------------
　　
▼　【NEW】体験できることの編集_sp ▼

---------------------------------------------------- */
.main {background-color: white;font-family: '游ゴシック','Yu Gothic','YuGothic','Meiryo UI','メイリオ','Meiryo UI',sans-serif;}
.main .container {padding: 0 10px;max-width: 1068px;width: 100%;margin: 0 auto;background-color: transparent;}
.main section.section {padding: 50px 0 60px;}
.img-fluid, .main img {max-width: 100%;height: auto;}
.btn-button {font-size: 16px;font-weight: 500;color: white;background-color: #C6AB9C;padding: 20px 50px;display: inline-block;width: 100%;position: relative;}
.btn-button:after {position: absolute;content: '';top: 50%;transform: translateY(-50%);right: 20px;width: 35px;height: 20px;
  background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/c01dc150380ddcec96878512894ae063a370dd7c.47.9.26.3.jpg");background-position: center;background-repeat: no-repeat;
}
.btn-button.bg-black {background-color: #000;}
.btn-button.bg-black:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/8a7123288100c6c49af284f707b825e4510b19ea.47.9.26.3.jpg");}
.btn-button.bg-white {color: #222;background-color: white;}
.btn-outline {border: 2px solid #7c7c7c;display: block;position: relative;padding: 20px 15px 52px;font-weight: 700;}
.btn-outline:after {bottom: 10px;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;border-color: rgba(136, 183, 213, 0);
border-top-color: #7c7c7c;border-width: 11px;margin-left: -11px;}
.bg-spring {background: rgb(255, 246, 246);background: linear-gradient(180deg, rgba(255, 246, 246, 1) 0%, rgba(237, 236, 229, 1) 100%);}
.bg-summer {background: rgb(238, 248, 248);background: linear-gradient(180deg, rgba(238, 248, 248, 1) 0%, rgba(226, 239, 219, 1) 100%);}
.bg-autumn {background: rgb(241, 239, 209);background: linear-gradient(180deg, rgba(241, 239, 209, 1) 0%, rgba(236, 229, 208, 1) 100%);}
.bg-winter {background: rgb(241, 243, 247);background: linear-gradient(180deg, rgba(241, 243, 247, 1) 0%, rgba(230, 234, 240, 1) 100%);}
.mw-600 {width: 100%;max-width: 600px;margin: 0 auto;}
.text-center {text-align: center;}
.bg-graylight {background-color: #f3f3f3;}
.bg-blackrgb {
  /* background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(57, 57, 57, 1) 50%, rgba(69, 69, 69, 1) 100%); */
  color: #fff;}
.bg-white {background-color: white;}
.badge {width: 44px;height: 44px;margin: 0 auto 1.2rem;border-radius: 100%;display: block;background-repeat: no-repeat;
background-size: auto;background-position: center;}
.badge.spring {background-color: #ee8593;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/3c465fe1413934b11780b35648bf39147bdaa04b.47.9.26.3.jpg");}
.badge.summer{background-color: #009def;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aea199caad77a547e1584788818eebab1774faa0.47.9.26.3.jpg");}
.badge.autumn{background-color: #d4832a;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/91376346b77962aee9ce5291e7a3d032213fc312.47.9.26.3.jpg");}
.badge.winter{background-color: #718eaf;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/20828af70339652574f5292785351e22e5ea2b75.47.9.26.3.jpg");}
/* lp-cont */
.lp-cont {padding: 0 15px;}
.lp-cont__head {margin-bottom: 50px;}
.lp-cont__head .subhead {margin-bottom: 0;}
.lp-cont__head h2 {font-weight: 500;margin-bottom: 0;position: relative;display: inline-block;font-size: 3rem;line-height: 3rem;padding: 0 45px;}
.lp-cont__head h2:before,
.lp-cont__head h2:after {position: absolute;content: "";top: 0;width: 24px;height: 24px;background-repeat: no-repeat;background-position: center;background-size: contain;}
.lp-cont__head h2:before {left: 0;}
.lp-cont__head h2:after {right: 0;}
.lp-cont__title h4 {font-size: 18px;margin-bottom: 1rem;}
.lp-cont__image {max-width: 890px;width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap;position: relative;}
.lp-cont__image:after {position: absolute;content: "";width: 40px;height: 40px;right: -14px;top: -1px;background-size: 22px;background-position: center;background-repeat: no-repeat;
border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;z-index: 1;}
.lp-cont__image .lp-cont__image--item {margin-top: 20px;display: inline-flex;}
.lp-cont__image .lp-cont__image--item {    width: 48.9%;}
.lp-cont__image .lp-cont__image--item:first-child {width: 100%;}
.lp-cont__image .lp-cont__image--item:nth-child(2) {margin-right: 2.2%;}
.lp-cont__content {margin-top: 30px;}
.lp-cont__content .lp-cont__content--text {margin-bottom: 40px;}
.lp-cont__content--text p {font-size: 14px;line-height: 1.8;}
.lp-cont__list .lp-cont__list--item:not(:last-child) {margin-bottom: 40px;}
/* lp_slideshow */
section.cst-module-carousel.lp_slideshow .cst-module-carousel-images {height: 180px;}
section.cst-module-carousel.lp_slideshow .cst-module-carousel-images img {top: 0 !important;}
/* lp_contents02 */
.s__contents--head {padding-top: 50px;}
.intro__title {margin-bottom: 25px;}
.intro__title h1 {font-size: 1.3rem;line-height: 2.3rem;}
.intro__text {padding: 0 15px;}
.intro__text h4 {margin-bottom: 1.5rem;}
.intro__experiences h4 {font-size: 1.5rem;padding-top: 2.1rem;margin: 0 2% 3rem;}
.list__contents {display: flex;flex-wrap: wrap;column-gap: 7px;row-gap: 8px;margin-bottom: 8px;}
.list__contents > li {width: 49%;text-align: center;flex: 1 1 auto;}
.list__contents > li a {display: block;border-width: 2px;border-style: solid;padding: 15px 15px 40px;position: relative;}
.list__contents > li a:after {bottom: 4px;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;
border-color: rgba(136, 183, 213, 0);border-top-color: #88b7d5;border-width: 11px;margin-left: -11px;}
.list__contents > li.color1 a {border-color: #ee8593;}
.list__contents > li.color2 a {border-color: #009def;}
.list__contents > li.color3 a {border-color: #d4832a;}
.list__contents > li.color4 a {border-color: #718eaf;}
.list__contents > li.color1 a:after {border-top-color: #ee8593;}
.list__contents > li.color2 a:after {border-top-color: #009def;}
.list__contents > li.color3 a:after {border-top-color: #d4832a;}
.list__contents > li.color4 a:after {border-top-color: #718eaf;}
/* lp_contents03 */
#lp_contents03 .lp-cont__head h2:before, #lp_contents03 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/b2db3367a8a24e9f1d2a79e29978054476a09b31.47.9.26.3.jpg");}
#lp_contents03 .lp-cont__image:after {background-color: #ee8593;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/3c465fe1413934b11780b35648bf39147bdaa04b.47.9.26.3.jpg");}
/* lp_contents04 */
#lp_contents04 .lp-cont__head h2:before, #lp_contents04 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/0b4e509639b12c093ec6e617342d28b4b6c47601.47.9.26.3.jpg");}
#lp_contents04 .lp-cont__image:after {background-color: #009def;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aea199caad77a547e1584788818eebab1774faa0.47.9.26.3.jpg");}
/* lp_contents05 */
#lp_contents05 .lp-cont__head h2:before, #lp_contents05 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/db580a25870e0d57a03929b98da208a6a6d50b67.47.9.26.3.jpg");}
#lp_contents05 .lp-cont__image:after {background-color: #d4832a;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/91376346b77962aee9ce5291e7a3d032213fc312.47.9.26.3.jpg");}
/* lp_contents06 */
#lp_contents06 .lp-cont__head h2:before, #lp_contents06 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aad55557a8a1f2ea1460af7e6bf8df6c656369d1.47.9.26.3.jpg");}
#lp_contents06 .lp-cont__image:after {background-color: #718eaf;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/20828af70339652574f5292785351e22e5ea2b75.47.9.26.3.jpg");}
/* lp_contents08 */
.s__planlist {background: rgb(215, 196, 186);background: linear-gradient(45deg, rgba(215, 196, 186, 1) 0%, rgba(144, 135, 130, 1) 100%);padding: 80px 0 110px;}
.s__planlist h3 {margin-bottom: 50px;color:white;}
/* Footer top */
#lp_guide {background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(57, 57, 57, 1) 50%, rgba(69, 69, 69, 1) 100%);color: #fff;}
#lp_guide.footer {margin-top: 0; padding: 40px 0;}
.s__footertop .container {background-color: transparent;}
.footertop__text {max-width: 592px;margin: 30px auto 0;}
.footertop__text p {font-size: 13.5px;}
.footertop__text h4,
.footertop__map h4 {
  /* color: #222222; */
  font-size: 14.6px;margin-bottom: 2rem;}
.footertop__map {margin-top: 40px;}
.footertop__map p {
  /* color: #222222; */
}
.lp-cont__content--link .comingsoon {
	background-image: none;
	position: relative;
	pointer-events: none;
  background-color: #9D9D9D;
}
.lp-cont__content--link .comingsoon::after {
  content: none;
}