/* ----------------------------------------------------
　　
▼　体験できること_sp ▼

---------------------------------------------------- */
#page{margin: 0!important;  font-family: '游ゴシック','Yu Gothic','YuGothic','Meiryo UI','メイリオ','Meiryo UI',sans-serif;background-color: #fff!important;line-height: 1.6;font-size: 16px;margin: 0 auto;color: #333;letter-spacing: .02em;}
.kv {position: relative;
overflow: hidden;
width: 100%;
height: auto;
margin: auto;
background: #c4a193;
display: flex;
justify-content: center;
align-items: center;
}
html, body, div, section, p, img {
margin: 0;
padding: 0;}
.kv img{width: 100%;}
.title {position: absolute;}
.title h2 {color: #fff;text-align: center;font-size: 18px;margin-bottom: 0;text-shadow: 0 1px 10px #606060; letter-spacing: 1.7px;}
p {font-size: 14px; margin: 0 18px;}

/* ----------------------------------------------------
　　キャプション
---------------------------------------------------- */
.caption_prince {margin: 40px auto 0; padding-bottom: 40px;}
.caption_prince h1{font-size: 24px;color: #c6ab9c;font-weight: 600;text-align: center;}
.caption_prince h3{color: #1a1a1a;font-size: 18px;text-align: center;font-weight: 600;margin: 16px auto 20px;}

/* ----------------------------------------------------
　　リード画像
---------------------------------------------------- */
.read {width: 96%; margin: 0 auto 5px; display: flex;     justify-content: center;}
.read_box {position: relative;overflow: hidden;width: 33.3%; background: #c4a193;}
.read_box img{width: 100%;}
.read_text{position: absolute;left: 40%;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.7);text-align: left;-webkit-transform: translate(-40%,0);transform: translate(-40%,0);}
.read_box h2 {color: #fff;text-align: left;font-size: 10px;padding: 6px;margin-bottom: 0; letter-spacing: 1.7px;}
p {font-size: 14px; margin: 0 18px;}


/* ----------------------------------------------------
体験できることコンテンツ
---------------------------------------------------- */
section {width: 100%;}
.lp_wrap * {box-sizing: border-box;}
.lp_main img {width: 100%; height: auto;}
.lp_cont {
padding: 0 10px;
}
.lp_cont .lp_inner {
margin: 0 auto;
padding-bottom: 60px;
max-width: 890px;
width: 100%;
border-bottom-style: solid;
border-bottom-width: 1px;
border-color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-title {
line-height: 1.7;
font-size: 18px;
font-weight: bold;
text-align: center;
}
.lp_cont .lp_cont-title::before {
height: 100px;
margin-top: 30px;
font-weight: normal;
text-align: center;
display: block;
}

.lp_cont .lp_cont-image {
margin-bottom: 6.77083vw;
display: flex;
flex-wrap: wrap;
margin-top: 30px;
}
.lp_cont .lp_cont-image .lp_cont-item {
width: 48.9%;
}
.lp_cont .lp_cont-image .lp_cont-item:first-child {
width: 100%;
}
.lp_cont .lp_cont-image .lp_cont-item:nth-child(2) {
margin-right: 2.2%;
width: 48.9%;
}
.lp_cont .lp_cont-wrap {
margin: 0 auto;
max-width: 600px;
width: 100%;
}
.lp_cont .lp_cont-wrap .lp_cont-text {
line-height: 1.8;
}
.lp_cont .lp_cont-wrap .lp_cont-link :hover{
opacity: 0.7;
transition: all 0.5s ease 0s;
}
.lp_btn_pink, .lp_btn ._black {
background-position: right 20px center!important;
background-repeat: no-repeat!important;
background-size: auto 20px!important;
padding: 1em 0!important;
color: #fff!important;
text-align: center!important;
display: block!important;
margin-top: 24px;
}
.lp_btn_pink{
background: #c6ab9c;
}

.lp_btn, .lp_btn ._black {
background-image: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/fd03ba2838e7451331fc3b3c0782b268ee2e375c.47.9.26.3.jpg)!important;
background-position: right 20px center!important;
background-repeat: no-repeat!important;
background-size: auto 20px!important;
padding: 1.5em 0!important;
color: #fff!important;
text-align: center!important;
display: block!important;
}
.lp_btn._black{
background: rgba(0, 0, 0, 1);
}
.toggle span, .lp_nav, .lp_btn {
background: rgba(198, 171, 156, 1);
}
.lp_lead-title, .lp_cont-title::before, .lp_spot-title {
color: rgba(198, 171, 156, 1);
}
.lp_cont .lp_cont-link .comingsoon {
background-image: none;
position: relative;
pointer-events: none;
}
.lp_cont .lp_cont-link .comingsoon::before {
background: rgba(0, 0, 0, 0.2);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
content: "";
}
.lp_main .lp_cont:nth-child(1) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/efbed63ca809f6d1794eb9fa7563b14df176f1d8.47.9.26.3.jpg);
transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(2) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/4623b27421f17e08aef841627764fb434afae17a.47.9.26.3.jpg);
transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(3) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/b3409d1cfcce40dc3358717d931e0f68040ed1fb.47.9.26.3.jpg);
transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(4) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/6c6b48e1be0da6567069328aeeaba086b0cc0d0a.47.9.26.3.jpg);
transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(5) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/01279f6791282d1eb2a9557c1e4d16d5cc201d88.47.9.26.3.jpg);
transform: scale(0.4);
}
.lp_main .lp_cont:nth-child(6) .lp_cont-title::before {
content: url(https://img.travel.rakuten.co.jp/share/image_up/1679/LARGE/446f6a40fb301f62795140de22bffc4ddbb441a5.47.9.26.3.jpg);
transform: scale(0.4);
}

/* ----------------------------------------------------
lp_spot　周辺の見どころ
---------------------------------------------------- */
.lp_spot {
padding: 50px 10px 0px;
}
.lp_spot  img {width: 100%;}

.lp_spot .lp_inner {
margin: 0 auto;
max-width: 880px;
width: 100%;
}

.lp_spot .lp_spot-title {
margin-bottom: 60px;
font-size: 24px;
font-weight: bold;
text-align: center;
}
.lp_spot .lp_spot-list {
display: flex;
flex-wrap: wrap;
}

.lp_spot .lp_spot-list .lp_spot-item {
margin: 0 2.2% 40px 0;
width: 48.9%;
}

.lp_spot .lp_spot-list .lp_spot-item:nth-child(even) {
margin-right: 0;
}

.lp_spot .lp_spot-detail {
margin-top: 10px;
}

.lp_spot .lp_spot-detail dt {
margin-bottom: 10px;
font-size: 14px;
font-weight: bold;
}
.lp_spot .lp_spot-detail dd p {
font-size: 12px;
line-height: 1.6;
margin: 0 0 10px 0;
}

.lp_spot .lp_spot-detail dd a {
padding-right: 1.2em;
text-decoration: underline;
position: relative;
}

.lp_spot .lp_spot-detail dd a::before {
content: "＞";
}

.lp_spot .lp_spot-detail dd a::after {
background: url(../img/icon01.png) center center no-repeat;
background-size: 100% auto;
width: 16px;
height: 16px;
display: inline-block;
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
content: "";
}

/* ----------------------------------------------------
lp_guide アクセス
---------------------------------------------------- */
.lp_guide {
background: rgba(240, 240, 240, 0.7);
padding: 40px 10px 60px;
}

.lp_guide .lp_inner {
margin: 0 auto;
max-width: 1260px;
width: 100%;
}

.lp_guide .lp_guide-logo {
margin: 0 auto 20px;
max-width: 140px;
width: 100%;
}
.lp_guide .lp_guide-logo img{width: 100%;}

.lp_guide .lp_guide-lead {
margin: 0 auto 30px;
max-width: 780px;
width: 100%;
}

.lp_guide .lp_guide-lead dt {
margin-bottom: 20px;
font-size: 20px;
font-weight: bold;
text-align: center;
}

.lp_guide .lp_guide-lead dd {
margin-bottom: 20px;
line-height: 1.8;
}

.lp_guide .lp_guide-lead dd .lp_text { 
font-size: 13.1px;
margin: 0 auto;
max-width: 600px;
width: 100%;
}

.lp_guide .lp_guide-lead dd address {
margin-bottom: 20px;
text-align: center;
display: block;
}

.lp_guide .lp_guide-linkList {
margin: 0 auto 40px;
max-width: 780px;
display: flex;
justify-content: center;
}

.lp_guide .lp_guide-linkItem {
margin-right: 5%;
width: calc((100% - 5%) / 2);
text-align: center;
}

.lp_guide .lp_guide-linkItem.mr0 {
margin-right: 0;
width: 100%;
}

.lp_guide .lp_guide-linkItem:nth-child(even) {
margin-right: 0;
}
/* ----------------------------------------------------
　　
▼ 施設紹介_SP ▼

---------------------------------------------------- */
#cus_contents {margin: auto; max-width: 768px;}
#cus_page h2 {
font-size: 18px;
color: #222;
border-bottom: 1px solid #222;
margin: 0 auto 30px auto;
padding-bottom: 15px;
text-align: center;
width: 220px;
display: block;
}
#cus_page .row2 {
display:flex;
flex-wrap: wrap;
}
#cus_page .row2 .img {
display:flex;
align-items: center;
width: 50%;
}
#cus_page .row2 .img img {
width:100%;
overflow:hidden;
}
.content {margin-top: 60px;}
.content p {margin:30px 15px !important;}
.planbox{
margin: 40px 0 50px;
}
.planbox img{
width:100%;
}
.planbox .plan_ttl{
font-size: 16px;
font-weight: bold;
margin: 15px auto !important;
padding: 0 15px;
}
.planbox .plan_txt{
margin: 0 15px 15px!important;
}
.plan_more {
text-align: center;
background: #000;
margin: 15px;
padding: 15px;
}
.plan_more a{
color: #fff;
}
#cus_page .btn2 {
background-color: #c2ac9e;
text-decoration: none;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: -20px 15px 0;
padding: 15px 30px;
}
footer {
background-color: #000;
text-align: center;
color: #fff;
margin-top: 60px;
padding: 40px 15px;
}
footer #name{
margin-bottom: 15px;
}
section.cst-module-carousel .cst-module-carousel-images img {
width: 100%;
}
#access_text{
padding: 20px 20px;
border: 1px solid;
border: 1px solid;
margin: 0 auto 50px;
width: 90%;
}
#access_text h4{
border-bottom:1px solid;
display:inline-block;
padding-bottom:10px;
margin-bottom:10px;
}
#access_text p{
text-align:left !important;
margin:10px 0 20px !important;
}
/* ----------------------------------------------------
　　
▼  天空のモーニングブッフェ_SP ▼

---------------------------------------------------- */
:where(.morning-buffet) * {
padding: 0px;
margin: 0px;
}
.morning-buffet {
background-color: white;
}

/* header */

.morning-buffet header {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1em;
}
.morning-buffet header img {
width: 100%;
height: 180px;
object-fit: cover;
}
.morning-buffet header h2 {
margin: auto;
color: white;
position: absolute;
text-shadow: 0 0px 20px black;
letter-spacing: 4px;
text-align: center;
}

/* main */
.morning-buffet h3,.morning-buffet h4{
margin: 1em 0;
letter-spacing: 1px;
}
.morning-buffet .border-bottom {
border-bottom: solid 1px black;
width: fit-content;
padding-bottom: 1em;
text-align: center;
}

/* main lead */
.morning-buffet hr {
margin: 1em 0 2em 0;
}
.morning-buffet .lead {
letter-spacing: 1px;
text-align: center;
}
.morning-buffet .lead p {
background-color: #e6e6e6;
width: 100%;
padding: 1em 0;
margin-top: 1em;
}

.morning-buffet .menu,.morning-buffet .performance-corner,.morning-buffet .information {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.morning-buffet .menu h3 {
padding: 1em 2em;
}

.morning-buffet .menu-image {
display: flex;
flex-wrap: wrap;
margin-bottom: 2em;

}
.morning-buffet .contents {
width: 48%;
margin: 1%;
background-color: #f6f6f6;

}
.morning-buffet .contents img {
width: 100%;
}
.morning-buffet .contents p {
padding: 0 0.5em;
font-size: smaller;
}

.morning-buffet .detail h4 {
font-size: 18px;
margin-bottom: 34px;
border-left: 5px solid rgb(230, 230, 230);
padding: 0.5em 1em;
}
.morning-buffet .detail ul {
margin-bottom: 50px;
}
.morning-buffet .detail ul li {
list-style: none;
margin-left: 20px;
}
.morning-buffet .detail ul li::before {
content: "o";
color: rgb(136, 136, 136);
font-size: 1.5em;
padding-right: 12px;
}
.morning-buffet.note {
margin-bottom: 2em;
color: rgb(136, 136, 136);
}
.morning-buffet .information {
padding: 1em 1em;
}
/* footer */
.morning-buffet footer {
background-color: black;
color: white;
text-align: center;
}
.morning-buffet #name {
padding: 1em 0;
}
/* ----------------------------------------------------
　　
▼  レストラン・バー ▼

---------------------------------------------------- */
.content_space{
margin: 0 16px;
}
:where(.restaurant-bar) * {
padding: 0;
margin: 0;
}
.restaurant-bar {
width: 100%;
background-color: white;
}

/* head */
.restaurant-bar .top {
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.restaurant-bar .top img {
width: 100%;
}
.restaurant-bar .top h2 {
position: absolute;
color: #fff;
text-shadow: 0 4px 20px #333;
letter-spacing: 4px;
text-align: center;
}

/* main */
.restaurant-bar main div{
padding: 0.5em 0;
}
.restaurant-bar .lead p {
text-align: center;
}
.restaurant-bar .lead span {
background-color: black;
color: white;
display: block;
text-align: center;
padding: 1em;
margin: 1em 0;
}

.restaurant-bar main {
display: flex;
flex-direction: column;
}
.restaurant-bar .restaurant,
.restaurant-bar .bar {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.restaurant-bar .logo {
width: 200px;
}
.restaurant-bar .images {
display: flex;
flex-wrap: wrap;
}
.restaurant-bar .images img {
width: 50%;
}

.restaurant-bar .content div {
margin: 0.5em 0;
}

.restaurant-bar table,
.restaurant-bar th,
.restaurant-bar td {
border-top: 1px solid black;
border-bottom: 1px solid black;
border-collapse: collapse;
padding: 0.5em 0;
}

.restaurant-bar footer {
background-color: black;
color: white;
padding: 1em 0;
}

/* ----------------------------------------------------
　　
▼  クラブラウンジ_SP ▼

---------------------------------------------------- */
:where(.club-lounge) * {
padding: 0;
margin: 0;
letter-spacing: 1px;
}
.club-lounge {
background-color: white;
}
.club-lounge {
width: 100%;
}
/* head */
.club-lounge .top-image {
position: relative;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
height: 50vw;
overflow: hidden;
}

.club-lounge .top-image img {
height: 100%
}
.club-lounge .top-image h2 {
position: absolute;
color: #fff;
text-shadow: 0 4px 20px #333;
letter-spacing: 4px;
text-align: center;
}
.club-lounge nav ul {
list-style: none;
display: flex;
flex-wrap: wrap;
}
.club-lounge nav li {
flex: 1 0 auto;
}
.club-lounge nav a {
text-decoration: none;
font-weight: bold;
color: #fff;
padding: 0 0.5em;
display: block;
text-align: center;
background-color: #1a1a1a;
border-bottom: 1px solid #ddd;
}


/* main */

.club-lounge h5 {
border-left:solid 5px #c7ba7a;
padding: 0.5em 1em;
margin: 1em;
}

.club-lounge main {
display: flex;
flex-direction: column;
padding: 1em 0;
}
.club-lounge .intro {
text-align: center;
}
.club-lounge h3 {
padding: 1em 0;
}
/* slider */
.club-lounge .slider {
width: 100%;
text-align: center;
overflow: hidden;
}

.club-lounge .slides {
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
touch-action: pan-y;
margin-top: 40px;
}
.club-lounge .slides::-webkit-scrollbar {
display: none;
}
.club-lounge .slides > div {
width: 100%;
flex-shrink: 0;
background: #eee;
position: relative;

display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
}
.club-lounge .slider img {
width: 100%;
}

.club-lounge .slider > a {
display: inline-flex;
width: 3rem;
height: 3rem;
background: #e0e0e0;
text-decoration: none;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: 0 1rem 0.5rem 0;
position: relative;
margin-top: 1em;
font-size: 1rem;
}
/* /slider */
.club-lounge .schedule div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 16px;
}

.club-lounge .schedule div div{
width: 100%;
background-color: #f6f6f6;
margin: 0.5em 0;
}
.club-lounge .schedule div div p {
position: relative;
padding: 0 1em;
}
.club-lounge .schedule span {
position: absolute;
top: -3.5em;
width: 65%;
padding: 0.5em;
background-color: #888888;
color: white;
}
.club-lounge .schedule img {
width: 100%;
}
.club-lounge .customer div, .club-lounge .open-time div {
margin: 0 16px;
}
.club-lounge #dotted-border {
border: dotted 2px #c7ba7a;
margin: 10px 16px;
}
.club-lounge .content ul {
list-style-type: none;
}
.club-lounge .content ul li::before {
content: "o";
color: #c7ba7a;
padding: 1em;
vertical-align: middle;
}
.club-lounge .attention {
color: #6f6f6f;
}
.club-lounge .open-time p{
border-bottom: dotted 2px #c7ba7a;
font-size: 24px;
width: fit-content;
}

/* footer */
.club-lounge footer {
background-color: black;
color: white;
text-align: center;
}

/* ----------------------------------------------------
　　
▼  共有.sp-page ▼

---------------------------------------------------- */
/* ▼　all　▼ */
:where(.sp-page) * {
padding: 0;
margin: 0;
box-sizing: border-box;
letter-spacing: 1px;
}
.sp-page {
background-color: white;
}
.sp-page h3, .sp-page h5 {
text-align: center;
width: fit-content;
margin: 0 auto 1em;
}
.sp-page .border-bottom {
border-bottom: solid 1px black;
}
.sp-page .sub-title {
border-left: solid 0.3em #e6e6e6;
padding: 0.5em 1em;
font-size: small;
margin: 0.5em 0;
}
.sp-page img {
width: 100%;
}
.sp-page ul {
list-style-type: none;
}
.sp-page .none {
display: none;
}
.sp-page .bold {
font-weight: bold;
}
.sp-page p {
margin: 0.5em 0;
}
/* ▲　all　▲ */

/* ▼　header　▼ */
.sp-page header {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 50vw;
overflow: hidden;
}
.sp-page header img {
height: 50vw;
}
.sp-page header h1 {
position: absolute;
color: #fff;
text-shadow: 0 4px 20px #333;
letter-spacing: 4px;
text-align: center;
font-size: 24px;
}
/* ▲　header　▲ */

/* ▼　slider　▼ */
.sp-page .slider {
margin: 0;
width: 100%;
text-align: center;
overflow: hidden;
}
.sp-page .slides {
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
touch-action: pan-y;
width: 100%;
}
.sp-page .slides::-webkit-scrollbar {
display: none;
}
.sp-page .slides > div {
width: 100%;
flex-shrink: 0;
background: #eee;
position: relative;

display: flex;
justify-content: center;
align-items: center;
}
.sp-page .slider img {
width: 100%;
}

.sp-page .slider > a {
display: inline-flex;
width: 2rem;
height: 2rem;
background: #e0e0e0;
text-decoration: none;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: 0 0.5rem;
position: relative;
margin-top: 1em;
font-size: 1rem;
}
/* ▲　slider　▲ */

/* ▼　main　▼ */
.sp-page > main {
margin: 3.5em 1em 0;
}
/* ▲　main　▲ */

/* ▼　footer　▼ */

/* ▲　footer　▲ */

/* ----------------------------------------------------
　　
▼  客室_SP ▼

---------------------------------------------------- */
/* main */
.guest-rooms h5 {
border-left: solid 3px #c7ba7a;
margin: 1em 0;
padding-left: 1em;
}
.guest-rooms table {
border-top: solid 1px black;
border-bottom: solid 1px black;
width: 100%;
margin-top: 0.5em;
}
.guest-rooms table tr {
display: block;
padding: 0.5em 0;
}
.guest-rooms main > div {
margin-top: 1em;
}
.guest-rooms .detail {
display: flex;
justify-content: space-between;
}
.guest-rooms .detail > div {
width: 48%;
}
/* ----------------------------------------------------
　　
▼  アクセス・観光_SP ▼

---------------------------------------------------- */
.access main > h3{
width: 50%;
padding-bottom: 0.5em;
font-size: 1.5em;
}
.access .address {
display: flex;
margin: 0.5em 0;
}
.access .address img {
margin: auto;
width: 30%;
height: fit-content;
}
.access .address table{
border-top: solid 1px #666;
border-bottom: solid 1px #666;
}
.access .bar {
border-bottom: solid 1px #666;
}
.access .address th {
padding: 0.5em;
}
.access .border-top {
border-top: solid 1px #666666;
}
.map{
padding-top: 32px;
}
/*  */
input[type="checkbox"] {
display: none;
}
.none {
display: none;
padding: 10px;
}
/* open1 */
#myCheckbox1:checked ~ #open1 {
display: block;
}
/* open2 */
#myCheckbox2:checked ~ #open2 {
display: block;
}
/* open3 */
#myCheckbox3:checked ~ #open3 {
display: block;
}
/* open4 */
#myCheckbox4:checked ~ #open4 {
display: block;
}
/*  */
.access .display > div{
border-bottom: solid 1px black;
position: relative;
margin: 2em 0.5em;
}
.access .display img {
height: 1.2em;
margin: 0.5rem 1rem -0.2rem 0;
width: auto;
}
.access .display h3 {
margin: 0 auto;
border: none;
width: 100%;
}
.access .display div::after {
display: inline-block;
content: '';
width: 0.5rem;
height: 0.5rem;
border-bottom: solid 2px #333;
border-right: solid 2px #333;
position: absolute;
bottom: 1.2em;
right: 1em;
transform: rotate(45deg);
}
.access .air {
height: 1rem;
width: 1rem;
}

.none img {
margin: 0.5em 0;
}
.none table{
border-collapse: collapse;
width: 100%;
margin-bottom: 1em;
}
.none table tr:first-child{
background-color: #f6f6f6;
}
.none table, .none td, .none th {
border: solid 1px #c7c7c7;
padding: 0.5em;
}
.access .none li {
list-style-type: circle;
margin-left: 1em;
}
/* open5 */
#myCheckbox5:checked ~ #open5 {
display: block;
}
/* open6 */
#myCheckbox6:checked ~ #open6 {
display: block;
}
/* open7 */
#myCheckbox7:checked ~ #open7 {
display: block;
}
/* open8 */
#myCheckbox8:checked ~ #open8 {
display: block;
}
/*  */
.access .guide > div{
padding: 0;
background-color: #f6f6f6;
margin: 1em 0;
}
.access .guide > div > img{
margin: 0;
}
.access .guide > div > p{
width: 90%;
margin: 0 auto;
padding: 1em 0;
}
.reserve {
margin: 4rem auto 5.6rem;
max-width: 950px;
}
.reserve ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: stretch;
-ms-flex-align: stretch;
align-items: stretch;
gap: 1rem;}
.reserve ul li a{
display: block;
width: 115px;
height: 40px;
border: 1px solid #283e30;
padding: 0.5rem 0;
border-radius: 10px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-animation: all 0.6s ease;
animation: all 0.6s ease;
padding: 0.4em 0;
min-height: 80px;
}

.reserve a {
color: #222222;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
text-decoration: none;
}
.reserve ul li{
list-style: none;
font-size: 12px;
}
.reserve ul li a img {
display: block;
width:50px;
margin-bottom: 5px;
}
/* ----------------------------------------------------
　　
▼  レゴランド ▼

---------------------------------------------------- */
.lkv img {
  display: block;
  width: 100%;
}
.lkv-nav {
  display: flex;
}
.lkv-link {
  width: 50%;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  padding: 4px;
  color: #fbf9f6;
  background-color: #006862;
}
.lkv-link:hover {
  opacity: 0.7;
}
.lkv-link:nth-of-type(2){
  color: #000;
  background-color: #ffcf00;
  position: relative;
}
.lkv-link:nth-of-type(2)::before,.lkv-link:nth-of-type(2)::after{
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: rotate(35deg) translate(-50%);
}
.lkv-link:nth-of-type(2)::after{
  transform: rotate(145deg) translate(50%);
}
.llead {
  background-color: #caf5ff;
  padding: 40px 32px;
}
.ll-title {
  color: #161616;
  font-family: "Noto Sans JP";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.4px;
}
.ll-text {
  color: #222;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin: 30px 0 0 0;
}
.ll-img {
  display: block;
  width: 261px;
  margin: 25px auto;
}
.ll-box {
  width: 110%;
  background-color: #ffcf00;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5%;
}
.ll-box:hover {
  background-color: #62b715;
}
.ll-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 4px;
}
.ll-link::before, .ll-link::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: rotate(25deg) translate(-50%);
}
.ll-link::after{
  transform: rotate(155deg) translate(50%);
}
.lstay {
  background-color: #63daf4;
}
.ls-intro {
  margin: 0;
  padding-top: 65px;
  color: #006862;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 22px;
  font-weight: 700;
  line-height: 33.2px;
  letter-spacing: 0.66px;
}
.ls-title {
  margin: 0;
  padding-top: 33px;
  color: #FFF;
  text-align: center;
  font-family: "FOT-TsukuARdGothic Std";
  font-size: 32px;
  font-weight: 700;
  line-height: 23.8px;
  letter-spacing: 0.96px;
}
.ls-list {
  margin-top: 63px;
  padding: 52px 15px;
  background-color: #fff;
}
.ls-litem:not(:first-child) {
  margin-top: 58px;
}
.ls-cloud-trip {
  width: calc(100% - 32px);
  margin: 0 16px;
  position: relative;
  bottom: -70px;
}
.ls-limg {
  width: 100%;
  display: block;
  box-shadow: #ffcf00 0px 25px;
  margin-bottom: 50px;
}
.ls-litem:nth-of-type(2) .ls-limg{
  box-shadow: #62b715 0px 25px;;
}
.ls-litem:nth-of-type(3) .ls-limg{
  box-shadow: #f96b1c 0px 25px;;
}
.ls-litem:nth-of-type(4) .ls-limg{
  box-shadow: #eb7ed0 0px 25px;;
}
.ls-lintro {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.48px;
}
.ls-ltitle {
  margin: 16px 0 0 0;
  color: #CBCBCB;
  font-family: "FOT-TsukuARdGothic Std";
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.48px;
}
.ls-ltext {
  margin: 16px 0 0 0;
  color: #222;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 27.2px;
  letter-spacing: 1.82px;
}
.ls-welcome {
  background-color: #fff;
}
.ls-wtop {
  background-color: #fbf9f6;
  margin: 0 16px;
}
.ls-wtitle {
  margin: 0;
  padding-top: 31px;
}
.ls-wimg {
  width: 173px;
  display: block;
  margin: 23px auto;
}
.ls-wtext {
  color: #333;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.6px;
  padding: 21px 20px 37px;
}
.ls-wbot {
  background-color: #006862;
  padding: 40px 24px;
}
.ls-wbox {
  width: 304px;
  height: 55px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ls-wbox:hover {
  background-color: #62b715;
}
.ls-wlink {
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-decoration: none;
}
.ls-wlink::before,.ls-wlink::after{
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: rotate(25deg) translate(-50%);
}
.ls-wlink::after{
  transform: rotate(155deg) translate(50%);
}
.ls-wtel {
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.6px;
  margin-top: 24px;
}
.ls-plan {
  background-color: #fff;
  padding: 0 16px 56px;
}
.ls-ptitle {
  margin: 0;
  color: #006862;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.8px;
  letter-spacing: 0.54px;
  padding: 36px 0 8px;
}
.ls-pimg {
  height: 188px;
}
.ls-pitem {
  display: flex;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #f9f2e9;
  text-decoration: none;
}
.ls-pitem > * {
  width: 50%;
}
.ls-pcont {
  padding: 32px 16px 0;
}
.ls-pname {
  margin: 0;
  color: #333;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.ls-ptext {
  margin: 16px 0 0 0;
  color: #333;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.ls-mountain-range {
  width: 100%;
  position: relative;
  top: -12px;
  padding-bottom: 68px;
}
.lbenefit {
  padding: 0 16px;
}
.lb-title {
  color: #006862;
text-align: center;
font-family: Inter;
font-size: 22px;
font-weight: 700;
line-height: 33.2px;
letter-spacing: 0.66px;
margin-top: 62px 0 20px;
}
.lb-item {
  margin-top: 30px;
}
.lb-lintro {
  background-color: #006862;
  height: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.lb-ltitle {
  color: #CBCBCB;
  font-family: "FOT-TsukuARdGothic Std";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin: 20px 0 16px 16px;
}
.lb-ltext {
  color: #333;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 27.2px;
  letter-spacing: 0.42px;
}
.lb-llink {
  color: #006862;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-decoration-line: underline;
  padding: 16px;
}
.lfooter {
  background-color: #006862;
  margin-top: 56px;
  padding: 32px 16px 94px;
}
.lf-img {
  width: 206px;
  display: block;
  margin: auto;
}
.lf-hotel {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.2px;
  letter-spacing: 2.6px;

}
.lf-address {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px; /* 170% */
  letter-spacing: 1.82px;
}
.lf-box {
  width: 100%;
  height: 70px;
  background-color: #fbf9f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.lf-link {
  color: #006862;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 40.8px;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.lf-list {
  color: #FFF;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 27.2px;
letter-spacing: -0.7px;
margin: 36px 0 0 0;
}

/* ----------------------------------------------------
　　
▼　New 体験できることの編集_sp ▼

---------------------------------------------------- */
/* ----------------------------------------------------
　　
▼　【NEW】体験できることの編集_sp ▼

---------------------------------------------------- */
.main {background-color: white;font-family: '游ゴシック','Yu Gothic','YuGothic','Meiryo UI','メイリオ','Meiryo UI',sans-serif;}
.main .container {padding: 0 10px;max-width: 1068px;width: 100%;margin: 0 auto;background-color: transparent;}
.main section.section {padding: 50px 0 60px;}
.img-fluid, .main img {max-width: 100%;height: auto;}
.btn-button {font-size: 16px;font-weight: 500;color: white;background-color: #C6AB9C;padding: 20px 50px;display: inline-block;width: 100%;position: relative;}
.btn-button:after {position: absolute;content: '';top: 50%;transform: translateY(-50%);right: 20px;width: 35px;height: 20px;
  background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/c01dc150380ddcec96878512894ae063a370dd7c.47.9.26.3.jpg");background-position: center;background-repeat: no-repeat;
}
.btn-button.bg-black {background-color: #000;}
.btn-button.bg-black:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/8a7123288100c6c49af284f707b825e4510b19ea.47.9.26.3.jpg");}
.btn-button.bg-white {color: #222;background-color: white;}
.btn-outline {border: 2px solid #7c7c7c;display: block;position: relative;padding: 20px 15px 52px;font-weight: 700;}
.btn-outline:after {bottom: 10px;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;border-color: rgba(136, 183, 213, 0);
border-top-color: #7c7c7c;border-width: 11px;margin-left: -11px;}
.bg-spring {background: rgb(255, 246, 246);background: linear-gradient(180deg, rgba(255, 246, 246, 1) 0%, rgba(237, 236, 229, 1) 100%);}
.bg-summer {background: rgb(238, 248, 248);background: linear-gradient(180deg, rgba(238, 248, 248, 1) 0%, rgba(226, 239, 219, 1) 100%);}
.bg-autumn {background: rgb(241, 239, 209);background: linear-gradient(180deg, rgba(241, 239, 209, 1) 0%, rgba(236, 229, 208, 1) 100%);}
.bg-winter {background: rgb(241, 243, 247);background: linear-gradient(180deg, rgba(241, 243, 247, 1) 0%, rgba(230, 234, 240, 1) 100%);}
.mw-600 {width: 100%;max-width: 600px;margin: 0 auto;}
.text-center {text-align: center;}
.bg-graylight {background-color: #f3f3f3;}
.bg-white {background-color: white;}
.badge {width: 44px;height: 44px;margin: 0 auto 1.2rem;border-radius: 100%;display: block;background-repeat: no-repeat;
background-size: auto;background-position: center;}
.badge.spring {background-color: #ee8593;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/3c465fe1413934b11780b35648bf39147bdaa04b.47.9.26.3.jpg");}
.badge.summer{background-color: #009def;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aea199caad77a547e1584788818eebab1774faa0.47.9.26.3.jpg");}
.badge.autumn{background-color: #d4832a;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/91376346b77962aee9ce5291e7a3d032213fc312.47.9.26.3.jpg");}
.badge.winter{background-color: #718eaf;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/20828af70339652574f5292785351e22e5ea2b75.47.9.26.3.jpg");}
/* lp-cont */
.lp-cont {padding: 0 15px;}
.lp-cont__head {margin-bottom: 50px;}
.lp-cont__head .subhead {margin-bottom: 0;}
.lp-cont__head h2 {font-weight: 500;margin-bottom: 0;position: relative;display: inline-block;font-size: 3rem;line-height: 3rem;padding: 0 45px;}
.lp-cont__head h2:before,
.lp-cont__head h2:after {position: absolute;content: "";top: 0;width: 24px;height: 24px;background-repeat: no-repeat;background-position: center;background-size: contain;}
.lp-cont__head h2:before {left: 0;}
.lp-cont__head h2:after {right: 0;}
.lp-cont__title h4 {font-size: 18px;margin-bottom: 1rem;}
.lp-cont__image {max-width: 890px;width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap;position: relative;}
.lp-cont__image:after {position: absolute;content: "";width: 40px;height: 40px;right: -14px;top: -10px;background-size: 22px;background-position: center;background-repeat: no-repeat;
border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;z-index: 1;}
.lp-cont__image .lp-cont__image--item {margin-top: 2.2%;display: inline-flex;}
.lp-cont__image .lp-cont__image--item {    width: 48.9%;}
.lp-cont__image .lp-cont__image--item:first-child {width: 100%; margin-top: 10px;}
.lp-cont__image .lp-cont__image--item:nth-child(2) {margin-right: 2.2%;}
.lp-cont__content {margin-top: 30px;}
.lp-cont__content .lp-cont__content--text {margin-bottom: 40px;}
.lp-cont__content--text p {font-size: 14px;line-height: 1.8;}
.lp-cont__list .lp-cont__list--item:not(:last-child) {margin-bottom: 40px;}
/* lp_slideshow */
section.cst-module-carousel.lp_slideshow .cst-module-carousel-images {height: 180px;}
section.cst-module-carousel.lp_slideshow .cst-module-carousel-images img {top: 0 !important;object-fit: cover; width: 100%;}
/* lp_contents02 */
.s__contents--head {padding-top: 50px;}
.intro__title {margin-bottom: 25px;}
.intro__title h1 {font-size: 1.3rem;line-height: 2.3rem;}
.intro__text {padding: 0 15px;}
.intro__text h4 {margin-bottom: 1.5rem;}
.intro__experiences h4 {font-size: 1.5rem;padding-top: 2.1rem;margin: 0 2% 3rem;}
.list__contents {display: flex;flex-wrap: wrap;column-gap: 7px;row-gap: 8px;margin-bottom: 8px;}
.list__contents > li {width: 49%;text-align: center;flex: 1 1 auto;}
.list__contents > li a {display: block;border-width: 2px;border-style: solid;padding: 15px 15px 40px;position: relative;}
.list__contents > li a:after {bottom: 4px;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;
border-color: rgba(136, 183, 213, 0);border-top-color: #88b7d5;border-width: 11px;margin-left: -11px;}
.list__contents > li.color1 a {border-color: #ee8593;}
.list__contents > li.color2 a {border-color: #009def;}
.list__contents > li.color3 a {border-color: #d4832a;}
.list__contents > li.color4 a {border-color: #718eaf;}
.list__contents > li.color1 a:after {border-top-color: #ee8593;}
.list__contents > li.color2 a:after {border-top-color: #009def;}
.list__contents > li.color3 a:after {border-top-color: #d4832a;}
.list__contents > li.color4 a:after {border-top-color: #718eaf;}
/* lp_contents03 */
#lp_contents03 .lp-cont__head h2:before, #lp_contents03 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/b2db3367a8a24e9f1d2a79e29978054476a09b31.47.9.26.3.jpg");}
#lp_contents03 .lp-cont__image:after {background-color: #ee8593;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/3c465fe1413934b11780b35648bf39147bdaa04b.47.9.26.3.jpg");}
/* lp_contents04 */
#lp_contents04 .lp-cont__head h2:before, #lp_contents04 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/0b4e509639b12c093ec6e617342d28b4b6c47601.47.9.26.3.jpg");}
#lp_contents04 .lp-cont__image:after {background-color: #009def;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aea199caad77a547e1584788818eebab1774faa0.47.9.26.3.jpg");}
/* lp_contents05 */
#lp_contents05 .lp-cont__head h2:before, #lp_contents05 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/db580a25870e0d57a03929b98da208a6a6d50b67.47.9.26.3.jpg");}
#lp_contents05 .lp-cont__image:after {background-color: #d4832a;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/91376346b77962aee9ce5291e7a3d032213fc312.47.9.26.3.jpg");}
/* lp_contents06 */
#lp_contents06 .lp-cont__head h2:before, #lp_contents06 .lp-cont__head h2:after {background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/aad55557a8a1f2ea1460af7e6bf8df6c656369d1.47.9.26.3.jpg");}
#lp_contents06 .lp-cont__image:after {background-color: #718eaf;background-image: url("https://img.travel.rakuten.co.jp/share/image_up/163007/LARGE/20828af70339652574f5292785351e22e5ea2b75.47.9.26.3.jpg");}
/* lp_contents08 */
.s__planlist {background: rgb(215, 196, 186);background: linear-gradient(45deg, rgba(215, 196, 186, 1) 0%, rgba(144, 135, 130, 1) 100%);padding: 80px 0 110px;}
.s__planlist h3 {margin-bottom: 50px;color:white;}
/* List article */
.lp_spot h4 {margin-bottom: 1.5rem;}
/* Footer top */
#lp_guide {background-color: #f3f3f3;}
#lp_guide.footer {margin-top: 0; padding: 40px 0;}
.s__footertop .container {background-color: transparent;}
.footertop__text {max-width: 592px;margin: 30px auto 0;}
.footertop__text p {font-size: 13.5px;}
.footertop__text h4,
.footertop__map h4 {color: #222222;font-size: 14.6px;margin-bottom: 2rem;}
.footertop__map {margin-top: 40px;}
.footertop__map p {color: #222222;}
.lp-cont__content--link .comingsoon  {background-image: none;position: relative;pointer-events: none;background-color: #9D9D9D;}