@charset "utf-8";

/* ------------------
--------RESET--------
------------------ */
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -webkit-tap-highlight-color: transparent;
    /* 3*/
    margin: 0 !important;
}

/* Sections */
/* ============================================ */

section {
    padding: 0;
}

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
    overflow-x: hidden;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: inherit;
    /* 2 */
}

address {
    font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: inherit;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
    vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
    /* 1 */
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit;
    /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
    outline: auto;
}

select:disabled {
    opacity: inherit;
}

/**
 * Remove padding
 */

option {
    padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
    margin: 0;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
    outline-offset: -2px;
    /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
    -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
    cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
    outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
    border-color: inherit;
    /* 1 */
    border-collapse: collapse;
}

caption {
    text-align: left;
}

td,
th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: bold;
}


/*====================================*/
/* base contents */
/*====================================*/
:root {
    /* color */
    --wht: #fff;
    --wht-gray: #f7f7f7;
    --txt-blk: #333;
    --bg-blk: #292929;
    --accent: #CDAD0B;
    --main-color: #004980;
    --sub-color: #0084B2;
    --gray: #9B9B9B;
}

/*====================================*/
/* base contents */
/*====================================*/
html {
    font-family: Lato, 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体',
    'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN',
    'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .1em;
    font-feature-settings: "palt";
    -webkit-font-feature-settings: "palt";
    color: #1C1C1C;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    word-break: break-all;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--wht);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* ----pc,sp/on_off---- */
.pc {
    display: none;
}

.tb {
    display: none;
}

.sp {
    display: block;
}

@media screen and (min-width: 959px) {
    .tb {
        display: block;
    }

    .sp {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .pc {
        display: block;
    }

    .tb {
        display: none;
    }
}

/*====================================*/
/* common contents */
/*====================================*/
/* ----title---- */
.ttl-S,
.ttl-M,
.ttl-L {
    line-height: 1.5;
    letter-spacing: .1em;
}

.ttl-S {
    font-size: 1.1rem;
}

.ttl-M {
    font-size: 1.3rem;
}

.ttl-L {
    font-size: 1.5rem;
}

.ttl-XL {
    font-size: 2rem;
}

.ttl-XXL {
    font-size: 2.2rem;
    letter-spacing: 1rem;
}

/* ----text---- */
.txt-XXS,
.txt-XS,
.txt-S,
.txt-M,
.txt-L,
.txt-XL {
    line-height: 1.5;
}

.txt-XXS {
    font-size: .6rem;
}

.txt-XS {
    font-size: .75rem;
}

.txt-S {
    font-size: .85rem;
}

.txt-M {
    font-size: .9rem;
}

.txt-L {
    font-size: 1.2rem;
}

.txt-XL {
    font-size: 1.5rem;
}

.wh-now {
    white-space: nowrap;
}

/* ----text-style---- */
.bold {
    font-weight: 900;
}


/* ----indent---- */
.indent-S {
    display: inline-block;
    padding-left: 1rem;
    text-indent: -1rem;
}

.indent-M {
    display: inline-block;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}

.indent-L {
    display: inline-block;
    padding-left: 2rem;
    text-indent: -2rem;
}

/* ----button---- */
.opa {
    opacity: .5;
}

.hov:hover {
    opacity: .5;
    transition: all .3s;
    text-decoration: none;
}

.btn {
    display: block;
    margin: 2.5rem auto 0rem;
    padding: 1rem 0;
    transition: all .3s;
    width: 100%;
    max-width: 320px;
    font-size: 1rem;
    font-weight: bold;
}

/* ----button-bg---- */
.btn-1 {
    position: relative;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    text-align: center;
    letter-spacing: .15em;
    border-radius: 50px;
    gap: .5rem;
}

.btn-2 {
    position: relative;
    background-color: var(--sub-color);
    border: 1px solid var(--sub-color);
    color: var(--wht);
    text-align: center;
    letter-spacing: .15em;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.btn-2:hover {
    background-color: var(--wht);
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
}

.btn-2::after {
    position: absolute;
    top: 50%;
    right: 7%;
    width: 8px;
    height: 8px;
    transform: translateY(-50%) rotate(135deg);
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
}

.btn-2::after, .btn-1::after {
    position: absolute;
    top: 50%;
    right: 7%;
    width: 8px;
    height: 8px;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
}

.btn .svg {
    position: absolute;
    top: 50%;
    right: 7%;
    transition: all ease-out 0.2s;
    transform: translate(-50%, -50%);
}

/* ----flexbox---- */
.flex {
    display: block;
}

.fl,
.col_2,
.col_3,
.col_2_3,
.col_2_4,
.col_3_5 {
    display: flex;
    flex-flow: row wrap;
}

.col_1,
.col_1_2 {
    display: block;
}

.col_1>* {
    display: block;
    width: 100%;
}

.col_1_2>* {
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.col_right>*:last-child {
    flex-basis: calc(75% - .9rem);
}

.col_3>* {
    flex-basis: calc(100% / 3 - .8rem);
}

.col_2_3>*,
.col_2_4>* {
    flex-basis: calc(100% / 2 - .5rem);
    margin-bottom: 1rem;
}

.col_3_5>* {
    flex-basis: calc(100% / 3 - .8rem);
    margin-bottom: 1rem;
}

.cols>* {
    width: 100%;
    min-width: 0;
}

.col-25 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-50 {
    flex: 0 0 50%;
    max-width: 50%;
}


.gap_1 {
    gap: 1.5rem;
}

.gap_2 {
    gap: 2rem;
}

.gap_3 {
    gap: 3rem;
}

.fld-clm {
    flex-direction: column;
}

@media screen and (min-width: 959px) {
    .col_1_2 {
        display: flex;
        justify-content: space-between;
    }

    .col_1_2>* {
        flex-basis: calc(100% / 2 - .8rem);
        margin-bottom: 1.6rem;
    }

    .col_1_3>* {
        flex-basis: calc(100% / 2 - 1.2rem);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 959px) {
    .flex {
        display: flex;
    }

    .col_1_3>* {
        flex-basis: calc(100% / 3 - 1.5rem);
        margin-bottom: 0;
    }

    .col_right>*:last-child {
        flex-basis: calc(80% - .9rem);
    }

    .col_2_3>* {
        flex-basis: calc(100% / 3 - 2rem);
        margin-bottom: 0;
    }

    .col_2_4>* {
        flex-basis: calc(100% / 4 - 1.5rem);
        margin-bottom: 0;
    }

    .col_3_5>* {
        flex-basis: calc(100% / 5 - .5rem);
        margin-bottom: 0;
    }
}

.jf_fs {
    justify-content: flex-start;
}

.jf_sb {
    justify-content: space-between;
}

.jf_c {
    justify-content: center;
}

.jf_e {
    justify-content: space-evenly;
}

.jf_fe {
    justify-content: flex-end;
}

.item-c {
    align-items: center;
}

/* ----grid-layout---- */
.grid,
.grid_1_2,
.grid_1_3,
.grid_3,
.grid_4,
.grid_1_4,
.grid_2_4,
.grid_2_3 {
    display: grid;
}

.grid_1_2 {
    grid-template-columns: 1fr;
}

.grid_2_4, .grid_2_3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

.grid_3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid_4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width:959px) {
    .grid_1_2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_1_3, .grid_2_3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_1_4, .grid_2_4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ----inner---- */
.inner {
    max-width: 1080px;
    margin: 0 auto;
    width: calc(100% - 2.5rem);
}

.inner {
    padding: 5rem 0;
}

@media screen and (min-width:959px) {
    .inner {
        padding: 100px 0;
    }
}

/* ----Ã£Æ’â€¢Ã£â€šÂ§Ã£Æ’Â¼Ã£Æ’â€°Ã£â€šÂ¤Ã£Æ’Â³Ã£â€šÂ¢Ã£Æ’â€¹Ã£Æ’Â¡Ã£Æ’Â¼Ã£â€šÂ·Ã£Æ’Â§Ã£Æ’Â³---- */
.view.view-fix,
.view.view-slideup,
.view.view-slidedown,
.view.view-slidein-L,
.view.view-slidein-R {
    opacity: 0;
}

.view.view-fix.on {
    opacity: 1;
    animation: view-fix .7s ease both;
}

.view.view-slideup.on {
    opacity: 1;
    animation: view-slideup .7s ease both;
}

.view.view-slidedown.on {
    opacity: 1;
    animation: view-slidedown .7s ease both;
}

.view.view-slidein-L.on {
    opacity: 1;
    animation: view-slidein-L .7s ease both;
}

.view.view-slidein-R.on {
    opacity: 1;
    animation: view-slidein-R .7s ease both;
}

@keyframes view-fix {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes view-slideup {
    0% {
        opacity: 0;
        transform: translate(0, 35px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes view-slidedown {
    0% {
        opacity: 0;
        transform: translate(0, -35px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes view-slidein-L {
    0% {
        opacity: 0;
        transform: translate(-35px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes view-slidein-R {
    0% {
        opacity: 0;
        transform: translate(35px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.dot {
    background-image: radial-gradient(circle at center, var(--accent) 20%, transparent 20%);
    background-position: top right;
    background-repeat: repeat-x;
    background-size: 1em 0.3em;
    padding-top: 0.4em;
}

.under-line {
    text-decoration: underline var(--main-color);
    text-decoration-color: var(--main-color);
    color: var(--main-color);
}

.marker {
    background: linear-gradient(transparent 65%, rgb(211 191 82 / 65%) 50%);
}

/* ----ここからオリジナルスタイル---- */
/*====================================*/
/* header */
/*====================================*/
header .nav__item::before {
    content: none;
}

/*　上に上がる動き　*/
#header.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/*　下に下がる動き　*/
#header.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#header {
    position: fixed;
    /* height: 60px; */
    width: 100%;
    z-index: 5;
    transition: 0.2s;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

#header.change-style {
    background-color: #003964;
    top: 0;
}

.header__logo {
    width: 200px;
}

.header__logo img {
    width: 100%;
}

/* ヘッダー */
#header {
    background-color: white;
    box-shadow: 0 2px 5px rgb(51 51 51 / 50%);
    background-color: var(--wht);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0;
}

.header__inner {
    max-width: 1080px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
    height: initial;
    width: initial;
    padding: 1rem;
}

@media screen and (min-width:960px) {
    .header__inner {
        padding: initial;
    }
}

/* ヘッダーのロゴ部分 */

.header__title {
    width: 80px;
}

@media screen and (min-width:960px) {
    .header__title {
        width: 120px;
    }
}

.header__title img {
    display: block;
    width: 100%;
    height: 100%;
}


/* ヘッダーのナビ部分 */
.header__nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px rgb(51 51 51 / 50%);
    transition: ease .4s;
    z-index: 1000;
}

@media screen and (min-width:960px) {
    .header__nav {
        position: static;
        transform: initial;
        box-shadow: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end;
    }

    .header__inner {
        padding: initial;
    }
}

@media screen and (min-width:960px) {
    .nav__list {
        display: flex;
        align-items: center;
        height: initial;
        gap: 35px;
    }
}

@media screen and (min-width:1440px) {
    .nav__list {
        gap: 50px;
    }
}

.nav__list {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

@media screen and (min-width:960px) {
    .nav__list {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        justify-content: right;
    }
}

/* ナビのリンク */
.nav__item {
    border-bottom: none !important;
    width: 250px;
}

.nav__item::after {
    content: none;
}

.nav__item>a::before {
    content: none;
}

.nav__item a {
    width: 100%;
    display: block;
    white-space: nowrap;
    font-weight: bold;
}

header .nav__item>a {
    padding: initial;
    margin-bottom: 2.2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    height: initial;
    font-size: 1.2rem;
    color: #003964;
    text-align: left;
    border-left: #003964 solid 5px;
}

header .nav__item>li:last-child>a {
    margin-bottom: initial;
}

.nav__item.contact {
    cursor: pointer;
    text-align: center;
    background: var(--accent);
}

.nav__item.contact>a {
    color: #fff;
    border-left: initial;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: .4rem;
    padding: .7rem 0rem;
    margin-bottom: initial;
}

.nav__item.contact>a>.icn {
    width: 20px;
    height: auto;
}

@media screen and (min-width:960px) {
    .nav__item {
        width: initial;
        margin: initial;
    }

    .nav__item>a {
        padding: initial;
        margin-bottom: 2rem;
        padding-left: initial;
        border-left: initial;
    }

    header .nav__item>a {
        border-left: none;
        margin-bottom: initial;
    }

    .nav__item.contact>a {
        padding: 1.5rem 2.5rem;
    }

    .nav__item.contact>a>.icn {
        width: 28px;
    }

    .nav__item.contact {
        position: relative;
        background: var(--accent);
        width: 200px;
        display: flex;
        height: 100%;
    }

    .nav__item>a {
        margin-bottom: 0;
        border-bottom: 0;
        color: #003964;
    }
}

@media screen and (min-width:1600px) {
    .nav__item a {
        font-size: 1rem;
    }
}


/* ハンバーガーメニュー */
.header__hamburger {
    width: 30px;
    height: 100%;
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
}

@media screen and (min-width:960px) {
    .hamburger {
        display: none;
    }
}


/* ハンバーガーメニューの線 */

.hamburger span {
    width: 100%;
    border-radius: 2px;
    background-color: #333333;
    position: relative;
    transition: ease .4s;
    display: block;
}

.hamburger.active span {
    background-color: #333333;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 8px 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */

.header__nav.active {
    transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: -14px;
    transform: rotate(-45deg);
}

.overlay {
    background-color: #000;
    cursor: pointer;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.6s;
    visibility: hidden;
    width: 100vw;
    z-index: 1;
}

@media screen and (max-width:768px) {
    .overlay.active {
        visibility: visible;
    }
}

@media screen and (max-width: 1200px) {
    .nav__item {
        display: flex;
    }
}
/*====================================*/
/* mv */
/*====================================*/
#mv {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#mv .ttl__box {
    color: var(--wht);
    text-align: center;
    text-shadow: 0px 1px 12px var(--main-color);
    font-size: 4rem;
    font-weight: bold;
    line-height: 5.5rem;
    color: var(--, #FFF);
    /* -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: var(--main-color);
}

@media screen and (max-width: 767px) {
    #mv .ttl__box {
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: .05em;
    }
}

#mv .mv__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mv__bg-left .mv__bg__img, .mv__bg-right .mv__bg__img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mv__bg-left, .mv__bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.mv__bg-left .mv__bg__img.mv__bg__img01 {
    background-image: url(../img/reception/mv-left-pc.jpg)
}

.mv__bg-right .mv__bg__img.mv__bg__img02 {
    background-image: url(../img/reception/mv-right-pc.jpg)
}

@media screen and (max-width: 767px) {
    .mv__bg-left, .mv__bg-right {
        width: 100%;
        height: 50%;
    }
}

/*====================================*/
/* tab */
/*====================================*/
/* @media screen and (max-width: 767px) {
    .lead__tab-area {
        display: -webkit-box;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1.3333333333vw;
    }
}

.tab-area__tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 48vw;
    min-height: 16vw;
    margin-top: -16vw;
    padding: 2.1333333333vw 0 1.8666666667vw;
    border-radius: 2.6666666667vw 2.6666666667vw 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
    color: #fff;
    transition: color .3s ease, background-color .3s ease;
}

@media screen and (max-width: 767px) {
    .tab-area__tab {
        font-size: 1.3rem;
    }
}

.tab-area__tab.blue {
    background-color: var(--main-color);
}

.tab-area__tab.light-blue {
    background-color: var(--sub-color);
}

.tab-area__tab.lcl-lead-tabarea__tab--active {
    background-color: #fff;
    pointer-events: none;
}

.tab-area__tab.lcl-lead-tabarea__tab--active.blue {
    color: var(--main-color);
}

.tab-area__tab.light-blue {
    background-color: var(--sub-color);
} */

/*====================================*/
/* lead */
/*====================================*/
#lead {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* padding-bottom: 2.5rem; */
}

#lead .lead__main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    #lead .lead__main {
        flex-direction: column;
        gap: 2rem;
    }
}

.lead__box.blue .icn {
    display: block;
    width: 43px;
    height: 46px;
    margin: 0 auto;
}

.lead__box.light-blue .icn {
    display: block;
    width: 89px;
    height: 48px;
    margin: 0 auto;
}

.lead__box {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .lead__box {
        width: 100%;
    }
}

.lead__box.blue {
    color: var(--main-color);
}

.lead__box.light-blue {
    color: var(--sub-color);
}

.lead__box__ttl {
    width: 51%;
    margin: -5rem auto 0;
    padding-top: 3rem;
    border-radius: 10px 10px 0 0;
    background-color: var(--wht);
}

@media screen and (max-width: 768px) {
    .lead__box__ttl {
        margin: 0rem auto 0;
        padding-top: 3rem;
        border-radius: 10px 10px 0 0;
        background-color: var(--wht);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .lead__box__ttl {
        min-width: 345px;
    }
}

.lead__box__ttl .ttl {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
}

@media screen and (max-width: 768px) {
        .lead__box__ttl .ttl {
            font-size: 1.5rem;
            white-space: nowrap;
    }
}

.lead__box .btn__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 74%;
    margin: 0rem auto 0;
}

@media screen and (max-width: 768px) {
        .lead__box .btn__box {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 300px;
            margin: 0rem auto 0;
        }
}

@media screen and (min-width: 768px) {
    .lead__box .btn__box {
        min-width: 455px;
    }
}

.btn-1 .btn-1-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: color .3s ease, background-color .3s ease;
    background: var(--wht);
}

.btn-2 .btn-2-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background: var(--sub-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: color .3s ease, background-color .3s ease;
    background: var(--wht);
}

.btn-1, .btn-2 {
    height: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.btn-1 .btn-1-icon .icn, .btn-2 .btn-2-icon .icn {
    width: 22px;
    height: 22px;
    display: block;
}

.lead__box .btn-2::after, .lead__box .btn-1::after {
    transform: translateY(-50%) rotate(135deg);
}

/*====================================*/
/* service__list */
/*====================================*/
.lead__list-area {
    margin: auto;
}

@media screen and (max-width: 768px) {
    #lead .lead__list-area {
        margin: auto 1rem;
    }
}

.service__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    background: #F7F4EC;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    max-width: 610px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .service__list {
        gap: 1rem 2rem;
        width: 100%;
        max-width: 100%;
        padding: 1.5rem 1.1rem;
        border-radius: 8px;
        margin-bottom: 2rem;
    }
}

.service__list>.service__item {
    position: relative;
    padding: 0px 0px 0px 1.8rem;
    margin: 0px;
    min-width: 0;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .service__list>.service__item {
        font-size: 1rem;
        white-space: inherit;
    }
}

.service__list>.service__item::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1rem;
    content: "";
    background: url(../img/reception/check.svg) no-repeat left;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    transform: translate(-10%, -50%);
}

.service__list .small {
    font-size: .7rem;
}

/*====================================*/
/* sec-bg */
/*====================================*/
#sec-bg {
    position: relative;
}

#sec-bg .bg__box {
    position: relative;
    width: 100%;
    height: 339px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/reception/reception-bg01.jpg)
}

@media screen and (max-width: 768px) {
    #sec-bg .bg__box {
        height: 200px;
    }
}

#sec-bg .bg__box .txt {
    position: absolute;
    color: var(--wht);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#sec-bg::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 130px solid var(--wht);
    border-bottom: 0;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #sec-bg .bg__box .txt {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        font-size: 1.5rem;
        width: 100%;
    }
    #sec-bg::before {
            border-top: 50px solid var(--wht);
        }
}

#sec-bg .bg__box::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    color: white;
    background: linear-gradient(0deg, rgba(28, 168, 226, 0.85) 0%, rgba(0, 73, 128, 0.85) 60.5%);
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

/*====================================*/
/* head */
/*====================================*/
#head {
    text-align: center;
}

#head .inner {
    padding: 10rem 0;
}

#head .ttl {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    #head .inner {
        padding: 5rem 0 1.5rem;
    }
    #head .ttl {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

#head .txt {
    line-height: 2rem;
}

/*====================================*/
/* support */
/*====================================*/
#support {
    position: relative;
}

#support .ttl__box {
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, 125%);
    color: var(--wht);
    white-space: nowrap;
}

#support .ttl__box .ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#support .ttl__box .ttl .big {
    font-size: 3rem;
}

#support .ttl__box .txt {
    font-size: 3rem;
}

#support .cnt-inner {
    padding: 5rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #support .ttl__box {
        white-space: initial;
        width: 100%;
        transform: translate(-50%, 75%);
    }
    
    #support .ttl__box .ttl {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #support .ttl__box .ttl .big {
        font-size: 2rem;
    }
    
    #support .cnt-inner {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#support .img {
    max-width: 500px;
}

#support .left__box, #support .right__box {
    padding: 22rem 0 8rem;
}

@media screen and (max-width: 768px) {
    #support .left__box {
        padding: 16rem 0 1.5rem;
    }

    #support .right__box {
        padding: 1.5rem 0 1.5rem;
    }
}

#support .left__box {
    position: relative;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #004980 18%, #1CA8E2 100%);
}

#support .right__box {
    position: relative;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #1CA8E2 0%, #004980 82%);
}

@media screen and (max-width: 768px) {
    #support .right__box {
        background: linear-gradient(180deg, #004980 18%, #1CA8E2 100%);
    }
}

#support .left__box .img {
    margin-left: auto;
}

/*====================================*/
/* tab__menu */
/*====================================*/
#tab__menu {
    background: linear-gradient(180deg, #FFF 0%, #004980 77%);
}

#tab__menu .inner {
    padding: 0 0 1rem;
}

.tab.tab-top .tablist {
    text-align: center;
    padding: 1rem 0;
    display: grid;
    gap: .5rem;
    background-color: #EFEFEF;
    box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.25);
}

@media screen and (max-width: 768px) {
    .tab.tab-top .tablist {
        gap: .5rem;
    }
}

.tab.tab-top .tablist.active {
    position: relative;
    background-color: var(--wht);
    border-bottom: 8px solid var(--accent);
}

.tab.tab-top .tablist.active::after {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 22px solid transparent;
    border-left: 22px solid transparent;
    border-top: 15px solid var(--accent);
    border-bottom: 0;
    z-index: 1;
}

.tab.tab-top .tablist.blue {
    color: var(--main-color);
    border-radius: 8px 0 0 0;
}

.tab.tab-top .tablist.light-blue {
    color: var(--sub-color);
    border-radius: 0 8px 0 0;
}

.tab.tab-top .tablist .icn {
    width: 65px;
    height: 65px;
    margin: auto;
}

.tab.tab-top .tablist .ttl {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .tab.tab-top .tablist .icn {
        width: 45px;
        height: 45px;
    }
    .tab.tab-top .tablist .ttl {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

.about {
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
    margin-bottom: 5rem;
}

#message .about {
    background-color: var(--sub-color);
}

.tabcontents-list .cnt-inner {
    padding: 3rem 4rem;
}

@media screen and (max-width: 768px) {
    .tabcontents-list .cnt-inner {
        padding: 3rem 1.1rem;
    }
}

.about .left__box h2.ttl {
    font-size: 2rem;
    font-weight: bold;
    color: var(--wht);
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .about .left__box h2.ttl {
        font-size: 1.5rem;
    }
}

.service__box {
    margin-bottom: 1rem;
}

.service__box h3.ttl {
    color: var(--wht);
    text-align: center;
    padding: .2rem 0;
    border: 2px solid var(--wht);
    /* 四隅に1pxの線を引く */
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.service__box h3.ttl .small {
    font-weight: normal;
    font-size: .7rem;
}

.tabcontents-list .service__list {
    background-color: var(--wht);
    border-radius: 0 0 8px 8px;
}

.tabcontents-list .about__ttl.grid_1_2 {
    gap: 2rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .tabcontents-list .about__ttl.grid_1_2 {
        gap: 0rem;
    }
}

.tabcontents-list .about__ttl .right__box img {
    border-radius: 8px;
}

/*areaにis-activeというクラスがついた時の形状*/
.tabcontents-list.is-active {
    animation-name: displayAnime;
    /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*====================================*/
/* worries */
/*====================================*/
.worries__list.grid_1_4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
    .worries__list.grid_1_4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 468px) {
    .worries__list.grid_1_4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.worries__list .worries__items .worries__ttl {
    position: relative;
    background-color: #E5E5E5;
    border: #D1D1D1 1px solid;
    font-weight: bold;
    font-size: .9rem;
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.worries__ttl-sp {
    display: none;
}

@media screen and (max-width: 468px) {
    .worries__list .worries__items .worries__ttl {
        display: none;
    }

    .worries__ttl-sp {
        display: block;
        position: relative;
        background-color: #E5E5E5;
        font-weight: bold;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        font-size: 1rem;
    }

    .worries__ttl-sp::before {
        position: absolute;
        content: "";
        width: 0;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
        height: 0;
        border-style: solid;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 12px solid #E5E5E5;
        border-right: 0;
    }
}

.worries__list .worries__items .worries__ttl::after {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 2px;
    height: 35px;
    border-right: 2px dotted var(--wht);
    z-index: 0;
}

.worries__list .worries__items .img__box {
    padding: inherit;
    margin-bottom: .7rem;
}

.worries__list .worries__items .img__box img {
    border-radius: 5px;
}

@media screen and (max-width: 468px) {
    .worries__list .worries__items .img__box {
        padding: 0rem;
    }

    .worries__list .worries__items .worries__box {
        padding: 1rem 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

.worries__list .worries__items .result {
    position: relative;
    padding: 1rem;
    background-color: var(--wht);
    color: var(--main-color);
    border-radius: 5px;
    text-align: center;
}

#message .worries__list .worries__items .result {
    color: var(--sub-color);
}

.worries__list .worries__items .result::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-top: 10px solid var(--main-color);
    border-bottom: 0;
}

#message .worries__list .worries__items .result::after {
    border-top: 10px solid var(--sub-color);
}

.worries__list .worries__items .result .ttl__box {
    font-size: 1rem;
    background-image: linear-gradient(to right, var(--main-color), var(--main-color) 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-position: left bottom;
    background-repeat: repeat-x;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.worries__list .worries__items .result .txt__box {
    font-size: .8rem;
    font-weight: normal;
}

.worries__list .worries__items .worries__cnt {
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.comparison, .recommend {
    background-color: var(--wht);
    border-radius: 10px;
    margin-bottom: 5rem;
}

.bubble__ttl {
    margin-bottom: 3rem;
}

.bubble__ttl .ttl {
    position: relative;
    background-color: var(--main-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--wht);
    border-radius: 8px;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .worries__list .worries__items .worries__cnt {
        box-shadow: initial;
        border-radius: 5px;
    }
    .worries__list .worries__items .result .ttl__box {
        font-size: 1.2rem;
    }
    .worries__list .worries__items .result .txt__box {
        font-size: 1rem;
    }
    .bubble__ttl .ttl {
        font-size: 1.2rem;
    }
}

.bubble__ttl .ttl::after {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-top: 1rem solid var(--main-color);
    border-bottom: 0;
}

#message .bubble__ttl .ttl {
    background-color: var(--sub-color);
}

#message .bubble__ttl .ttl::after {
    border-top: 1rem solid var(--sub-color);
}

.recommend .bubble__ttl {
    margin-bottom: 5rem;
}

/*====================================*/
/* recommend */
/*====================================*/
.recommend .img__box.left {
    position: relative;
}

.balloon__box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -50%);
}

.balloon {
    position: relative;
    padding: 2rem 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    color: var(--wht);
    letter-spacing: 0.2em;
    font-size: 1rem;
    background-color: var(--accent);
    font-weight: bold;
}

.balloon::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 2px;
    bottom: 2px;
    border-right: 20px solid var(--accent);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(-21deg);
}

.ttl__box {
    text-align: center;
}

.ttl__box .ttl {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;

}

.ttl__border {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.ttl__border::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    width: 35px;
    height: 5px;
    transform: translate(-50%);
    background-color: var(--main-color);
}

/*====================================*/
/* flow */
/*====================================*/
.flow__list .flow__item {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .flow__list .flow__item {
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .flow__list .flow__item .txt__box {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .flow__list .flow__item .img__box {
        grid-row: 4 / 1;
        grid-column: 2 / 3;
    }
}

.flow__list .flow__item:nth-child(odd) {
    background-color: #eff8ff;
}

.flow__list .flow__item .num {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.flow__list .flow__item .ttl {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.flow__list .flow__item .txt {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .flow__list .flow__item .ttl {
        margin-bottom: .5rem;
    }
    .flow__list .flow__item .txt {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        margin-bottom: 0;
    }
}

.flow__list .flow__item .num .large {
    font-size: 2.5rem;
}

.flow__list .flow__item .img__box img {
    max-width: 200px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .flow__list .flow__item .img__box img {
        max-width: 100px;
        margin: auto;
    }
}

/*====================================*/
/* qa */
/*====================================*/
.qa__list dt {
    padding: 1.5rem 1rem 1.5rem 2rem;
    border-radius: 10px  10px 0 0;
    background: var(--main-color);
    color: var(--wht);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.qa__list .q:before {
    content: "Q";
    background-color: var(--wht);
    color: var(--main-color);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin-right: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.qa__list dd {
    padding: 1rem 1rem 1rem 2rem;
    border: 2.5px solid var(--main-color);
    border-radius: 0 0 10px 10px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.qa__list .a:before {
    content: "A";
    background-color: var(--main-color);
    color: var(--wht);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin-right: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

/*====================================*/
/* cv__ft */
/*====================================*/
#cv__ft .cv-txt__box {
    position: relative;
    color: var(--wht);
    text-align: center;
    background-color: var(--sub-color);
}

#cv__ft .cv-txt__box::after {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    border-top: 2rem solid var(--sub-color);
    border-bottom: 0;
    z-index: 1;
}

#cv__ft .cv-txt__box .ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#cv__ft .cv__img-wrap {
    position: relative;
    cursor: pointer;
    display: block;
}


#cv__ft .img__box {
    width: inherit;
}


#cv__ft .img__box img {
    width: inherit;
    height: auto;
    display: block;
}

#cv__ft .cv__btn {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgb(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    transition: opacity .4s;
    display: block;
    margin: 0;
    padding: 1.5rem;
    transition: all .3s;
}

#cv__ft .cv__cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

#cv__ft .cv__cnt .txt__box {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap
}

#cv__ft .cv__cnt .txt__box>.small {
    font-size: .8rem;
}

#cv__ft .cv__img-wrap:hover .cv__btn {
    background: rgb(205, 173, 11, .6);
}

/* 調整用 */
#cv__ft .cv__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

#cv__ft .cv__img-wrap .cv__btn .img__box {
    width: 57px;
}

@media screen and (max-width:768px) {
    #cv__ft .cv__btn {
        padding: 2rem 1.1rem;
    }

    #cv__ft .cv__cnt {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        display: initial;
    }

    #cv__ft .cv__cnt .txt__box {
        font-size: 1.2rem;
    }

    #cv__ft .cv__cnt .img__box {
        font-size: 1.2rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    #cv__ft .cv__cnt .txt__box>.small {
        font-size: .7rem;
    }

    #cv__ft .cv__box {
        flex-direction: column;
    }

    #cv__ft .cv__img-wrap.demo .cv__btn .img__box {
        width: 42px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/*====================================*/
/* footer */
/*====================================*/
#footer {
    background-color: var(--main-color);
}

#footer .inner {
    padding: 1rem 0;
}

#footer .nav__list {
    position: initial;
    transform: initial;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0 4rem;
}

@media screen and (min-width: 960px) {
    #footer .nav__item>a {
        color: var(--wht);
    }
}

#footer .company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    gap: 5rem;
}

@media screen and (max-width:768px) {
    #footer .nav__list {
        display: flex;
        /* flex-wrap: wrap; */
        gap: 1rem;
    }
    #footer .company-info {
        flex-direction: column;
        gap: 4rem;
    }
}

#footer .company-info .img__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width:768px) {
    #footer .company-info .img__box {
        flex-direction: initial;
    }
}

#footer .company-info .img__box .logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer .company-info .img__box .logo .txt {
    font-size: 1rem;
    font-weight: bold;
}

#footer .company-info .img__box .privacy img {
    max-width: 90px;
}

#footer .address__box {
    gap: 2rem 3rem;
}

#footer .address__box .address__item .ttl {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

#footer .address__box .address__item .txt {
    line-height: 2;
}

#footer .copyright {
    color: var(--txt-blk);
    background-color: var(--wht);
}

#footer .copyright .txt {
    padding: .5rem;
    text-align: center;
    font-size: .7rem;
}