@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* ----------------------------------------------------
	表示
---------------------------------------------------- */
.pc_only {
	display: block;
}

.sp_only {
	display: none;
}

@media (max-width: 768px) {
	.pc_only {
		display: none;
	}

	.sp_only {
		display: block;
	}
}

.lp_wrap * {
	box-sizing: border-box;
}

.lp_wrap img {
	width: 100%;
	height: auto;
}

.lp_wrap a,
.lp_wrap a img {
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

.lp_wrap a:hover {
	opacity: 0.7;
}


/* ----------------------------------------------------
	メインカラー（#c6ab9c）
	※サイト毎に設定
---------------------------------------------------- */
/* background */
.toggle span,
.lp_nav,
.lp_btn {
	background: rgba(247,104,214, 1);
}

.lp_btn._black {
	background: rgba(0, 0, 0, 1);
}


/* color */
.lp_lead-title,
.lp_cont-title::before,
.lp_spot-title {
	color: rgba(247,104,214, 1);
}

/* border */
.lp_cont .lp_inner {
	border-color: rgba(247,104,214, 1);
}

/* btn */
.lp_btn,
.lp_btn._black {
	background-image: url(../img/arrow.svg);
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	padding: 1.5em 0;
	color: #fff;
	text-align: center;
	display: block;
}

.lp_btn:hover {
	color: #fff;
}

@media (max-width: 768px) {
	.lp_btn {
		font-size: 4.125vw;
	}
}



/* ----------------------------------------------------
	lp_header
---------------------------------------------------- */
.lp_header {
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lp_header .lp_title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 768px) {
	.lp_header .lp_title {
		font-size: 3.125vw;
	}
}

/*
	toggle
------------------------------ */
.toggle {
	position: fixed;
	top: 30px;
	left: 1em;
	z-index: 110;
}

.toggle_inner {
	width: 40px;
	height: 32px;
	position: relative;
	z-index: 109;
	cursor: pointer;
}

.toggle_inner>span {
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	left: 0;
	transition: transform .6s ease-in-out, top .5s ease, bottom .5s ease;
}

.toggle_inner>span:nth-child(1) {
	top: 0;
}

.toggle_inner>span:nth-child(2) {
	top: 50%;
	transform: translatey(-50%);
}

.toggle_inner>span:nth-child(3) {
	bottom: 0;
}

@media (max-width: 768px) {
	.toggle {
		top: 15px;
	}
}

/*
	lp_nav（基本設定）
------------------------------ */
.lp_nav {
	padding: 92px 1em 0;
	max-width: 320px;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: auto;
	position: fixed;
	top: 0;
	left: -350px;
	z-index: 100;
	transition: all 0.6s;
}

.lp_nav .lp_nav-list {
	list-style: none;
}

.lp_nav .lp_nav-link {
	padding: 1em 0;
	color: #fff;
	text-decoration: none;
	display: block;
	transition: opacity .6s ease;
}

.lp_nav .lp_nav-link:hover {
	opacity: 0.6;
}

.lp_nav-item:last-child {
	font-size: 18px;
	font-weight: bold;
}

/*
	lp_nav（表示設定）
------------------------------ */
.is_open {
	overflow: hidden;
}

.is_open .lp_nav {
	left: 0;
}

.is_open .toggle_inner>span {
	background: #fff;
	z-index: 109;

}

.is_open .toggle_inner>span:nth-child(1) {
	top: 50%;
	transform: rotate(45deg) translatey(-50%);
}

.is_open .toggle_inner>span:nth-child(2) {
	width: 0;
}

.is_open .toggle_inner>span:nth-child(3) {
	top: 50%;
	transform: rotate(-45deg) translatey(-50%);
}

.is_open .lp_nav {
	transform: translateX(0);
}

/*
	overlay
------------------------------ */
.lp_overlay {
	background: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.is_open .lp_overlay {
	display: block;
}


/* ----------------------------------------------------
	lp_kv
---------------------------------------------------- */
.lp_kv {
	margin: 0;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.lp_kv .lp_kv-image {
	width: 100%;
	position: relative;
	z-index: 2;
	animation: zoom 4s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes zoom {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}

@media (max-width: 768px) {
	.lp_kv img {
		width: 100%;
		height: 104.63672vw;
		object-fit: cover;
		object-position: right 50% top 0;
	}
}


/* ----------------------------------------------------
	lp_lead
---------------------------------------------------- */
.lp_lead {
	padding: 90px 20px 80px;
}

.lp_lead .lp_inner {
	margin: 0 auto;
	max-width: 1070px;
	width: 100%;
}

.lp_lead .lp_lead-title {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 768px) {
	.lp_lead {
		padding: 13.02083vw 2.60417vw;
	}

	.lp_lead .lp_lead-title {
		margin-bottom: 5.02083vw;
		font-size: 4.6875vw;
	}
}

/*
	lp_lead-detail
------------------------------ */
.lp_lead .lp_lead-detail {
	margin: 0 auto 80px;
	max-width: 600px;
	width: 100%;
	line-height: 1.8;
}

.lp_lead .lp_lead-detail dt {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 768px) {
	.lp_lead .lp_lead-detail {
		margin: 0 auto 11.06771vw;
	}

	.lp_lead .lp_lead-detail dt {
		margin-bottom: 5.33333vw;
		font-size: 3.90625vw;
	}

	.lp_lead .lp_lead-detail dd {
		padding: 0 3.125vw;
		font-size: 3.6vw;
		line-height: 2;
	}
}

/*
	lp_lead-image
------------------------------ */
.lp_lead .lp_lead-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.lp_lead .lp_lead-image .lp_lead-item {
	margin: 0 0.3% 4px 0;
	width: calc((100% - 0.6%) / 3);
}

.lp_lead .lp_lead-image .lp_lead-item:nth-child(3n) {
	margin-right: 0;
}

/* 画像4個のときのみ */
.lp_lead .lp_lead-image.img4 .lp_lead-item {
	margin: 0 0.3% 4px;
	width: calc((100% - 0.6%) / 3);
}

/* 画像とキャプション */
.lp_lead .lp_lead-image .lp_lead-item figure {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

.lp_lead .lp_lead-image .lp_lead-item figure figcaption {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	line-height: 1.8;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity .6s ease;
}

.lp_lead .lp_lead-image .lp_lead-item figure:hover figcaption {
	opacity: 1;
}

.lp_lead-item a:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	.lp_lead .lp_lead-image .lp_lead-item figure figcaption {
		height: 40%;
		line-height: 1.4;
		font-size: 2.60417vw;
		text-align: left;
		opacity: 1;
	}
}


/* ----------------------------------------------------
	lp_cont
---------------------------------------------------- */
.lp_cont {
	padding: 0 20px;
}

.lp_cont .lp_inner {
	margin: 0 auto;
	padding-bottom: 110px;
	max-width: 890px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/*
	lp_cont-title
------------------------------ */
.lp_cont .lp_cont-title {
	line-height: 1.8;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.lp_cont .lp_cont-title::before {
	height: 140px;
	line-height: 170px;
	font-family: 'Petit Formal Script', cursive;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	display: block;
}

/* タイトル上部の数字 */
.lp_main .lp_cont:nth-child(1) .lp_cont-title::before {
	content: "01";
}

.lp_main .lp_cont:nth-child(2) .lp_cont-title::before {
	content: "02";
}

.lp_main .lp_cont:nth-child(3) .lp_cont-title::before {
	content: "03";
}

.lp_main .lp_cont:nth-child(4) .lp_cont-title::before {
	content: "04";
}

.lp_main .lp_cont:nth-child(5) .lp_cont-title::before {
	content: "05";
}

.lp_main .lp_cont:nth-child(6) .lp_cont-title::before {
	content: "06";
}

@media (max-width: 768px) {
	.lp_cont {
		padding: 0 2.60417vw;
	}

	.lp_cont .lp_inner {
		padding-bottom: 15.625vw;
	}

	/*
	lp_cont-title
	------------------------------ */
	.lp_cont .lp_cont-title {
		font-size: 5.20833vw;
	}

	.lp_cont .lp_cont-title::before {
		height: 27.25vw;
		line-height: 31.25vw;
		font-size: 7.8125vw;
	}
}

/*
	lp_cont-image
------------------------------ */
.lp_cont .lp_cont-image {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
}

.lp_cont .lp_cont-image .lp_cont-item {
	margin-top: 20px;
}

.lp_cont .lp_cont-image .lp_cont-item {
	width: calc((100% - 2.2%) / 2);
}

.lp_cont .lp_cont-image .lp_cont-item:first-child {
	width: 100%;
}

.lp_cont .lp_cont-image .lp_cont-item:nth-child(2) {
	margin-right: 2.2%;
}

.lp_cont .lp_cont-wrap {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.lp_cont .lp_cont-wrap .lp_cont-text {
	margin-bottom: 30px;
	line-height: 1.8;
}

@media (max-width: 768px) {
	.lp_cont .lp_cont-image {
		margin-bottom: 6.77083vw;
	}

	.lp_cont .lp_cont-image .lp_cont-item {
		margin-top: 2.08333vw;
	}

	.lp_cont .lp_cont-image .lp_cont-item {
		width: calc((100% - 2.2%) / 2);
	}

	.lp_cont .lp_cont-image .lp_cont-item:first-child {
		width: 100%;
	}

	.lp_cont .lp_cont-image .lp_cont-item:nth-child(2) {
		margin-right: 2.2%;
	}

	.lp_cont .lp_cont-wrap {
		font-size: 3.125vw;
		padding: 0 15px;
	}

	.lp_cont .lp_cont-wrap .lp_cont-text {
		margin-bottom: 7.8125vw;
		line-height: 2;
		font-size: 3.6vw;
	}
}


/* ----------------------------------------------------
	lp_spot
---------------------------------------------------- */
.lp_spot {
	padding: 90px 20px 100px;
}

.lp_spot .lp_inner {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
}

.lp_spot .lp_spot-title {
	margin-bottom: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.lp_cont .lp_cont-link .comingsoon {
	background-image: none;
	position: relative;
	pointer-events: none;
}

.lp_cont .lp_cont-link .comingsoon::before {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
@media (max-width: 768px) {
	.lp_spot {
		padding: 15.625vw 2.60417vw 9.11458vw;
	}

	.lp_spot .lp_spot-title {
		margin-bottom: 6.51042vw;
		font-size: 3.90625vw;
	}
}

/*
	lp_spot-list
------------------------------ */
.lp_spot .lp_spot-list {
	display: flex;
	flex-wrap: wrap;
}

.lp_spot .lp_spot-list .lp_spot-item {
	margin: 0 4.1% 68px 0;
	width: calc((100% - 4.1%) / 2);
}

.lp_spot .lp_spot-list .lp_spot-item:nth-child(even) {
	margin-right: 0;
}

.lp_spot .lp_spot-detail {
	margin-top: 24px;
}

.lp_spot .lp_spot-detail dt {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: bold;
}

.lp_spot .lp_spot-detail dd p {
	margin-bottom: 10px;
	line-height: 1.8;
}

.lp_spot .lp_spot-detail dd a {
	padding-right: 1.2em;
	text-decoration: underline;
	position: relative;
}

.lp_spot .lp_spot-detail dd a::before {
	content: "＞";
}

.lp_spot .lp_spot-detail dd a::after {
	background: url(../img/icon01.png) center center no-repeat;
	background-size: 100% auto;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	content: "";
}

@media (max-width: 768px) {
	.lp_spot .lp_spot-list .lp_spot-item {
		margin: 0 3vw 10.9375vw 0;
		width: calc((100% - 3vw) / 2);
	}

	.lp_spot .lp_spot-detail {
		margin-top: 3.38542vw;
	}

	.lp_spot .lp_spot-detail dt {
		margin-bottom: 2.60417vw;
		font-size: 3.125vw;
	}

	.lp_spot .lp_spot-detail dd p {
		margin-bottom: 2.34375vw;
		font-size: 3.125vw;
	}

	.lp_spot .lp_spot-detail dd a {
		font-size: 3.125vw;
	}

	.lp_spot .lp_spot-detail dd a::after {
		width: 2.60417vw;
		height: 2.60417vw;
	}
}


/* ----------------------------------------------------
	lp_guide
---------------------------------------------------- */
.lp_guide {
	background: rgba(240, 240, 240, 0.7);
	padding: 75px 20px 45px;
}

.lp_guide .lp_inner {
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
}

.lp_guide .lp_guide-logo {
	margin: 0 auto 50px;
	max-width: 160px;
	width: 100%;
}

.lp_guide .lp_guide-lead {
	margin: 0 auto 48px;
	max-width: 780px;
	width: 100%;
}

.lp_guide .lp_guide-lead dt {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.lp_guide .lp_guide-lead dd {
	margin-bottom: 45px;
	line-height: 1.8;
}

.lp_guide .lp_guide-lead dd .lp_text {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.lp_guide .lp_guide-lead dd address {
	margin-bottom: 20px;
	font-style: normal;
	text-align: center;
	display: block;
}

.lp_guide .lp_guide-lead dd .lp_map iframe {
	width: 100%;
}

.lp_guide .lp_guide-linkList {
	margin: 0 auto 50px;
	max-width: 780px;
	display: flex;
	justify-content: center;
}

.lp_guide .lp_guide-linkItem {
	margin-right: 5%;
	width: calc((100% - 5%) / 2);
	text-align: center;
}

.lp_guide .lp_guide-linkItem.mr0 {
	margin-right: 0;
	width: 76%;
}

.lp_guide .lp_guide-linkItem:nth-child(even) {
	margin-right: 0;
}

@media (max-width: 768px) {
	.lp_guide {
		padding: 11.71875vw 2.60417vw 17.44792vw;
	}

	.lp_guide .lp_guide-logo {
		margin: 0 auto 7.16146vw;
		width: 26.69271%;
	}

	.lp_guide .lp_guide-lead {
		margin-bottom: 0;
		font-size: 3.125vw;
	}

	.lp_guide .lp_guide-lead dt {
		margin-bottom: 6.51042vw;
		font-size: 3.90625vw;
	}

	.lp_guide .lp_guide-lead dd {
		margin-bottom: 7.16146vw;
	}

	.lp_guide .lp_guide-lead dd .lp_text {
		font-size: 3.6vw;
	}

	.lp_guide .lp_guide-lead dd address {
		margin-bottom: 5.85938vw;
	}

	.lp_guide .lp_guide-lead dd .lp_map iframe {
		width: 100%;
		height: 55vw;
	}

	.lp_guide .lp_guide-linkList {
		margin: 0 auto 16.92708vw;
		display: block;
	}

	.lp_guide .lp_guide-linkList:last-of-type {
		margin-bottom: 0;
	}

	.lp_guide .lp_guide-linkItem {
		margin-right: 0;
		margin-bottom: 5.85938vw;
		width: 100%;
	}

	.lp_guide .lp_guide-linkItem.mr0 {
		width: 100%;
	}

	.lp_guide .lp_guide-linkItem:last-of-type {
		margin-bottom: 0;
	}
}

/* ----------------------------------------------------
	lp_footer
---------------------------------------------------- */
.lp_footer .lp_inner {
	width: 100%;
	padding-top: 80px;
}

@media (max-width: 768px) {
	.lp_footer .lp_inner {
		padding-top: 16.92708vw;
	}
}

/*
	lp_note
------------------------------ */
.lp_note {
	margin-bottom: 120px;
}

.lp_note .lp_inner {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding-top: 0;
}

@media (max-width: 768px) {
	.lp_note {
		padding: 30px 20px 0;
		margin-bottom: 60px;
	}

	.lp_note .lp_inner {
		font-size: 3.125vw;
		padding-top: 0;
	}
}

/*
	ブランドバナー
------------------------------ */
.lp_footer .lp_brand-bnr {
	margin: 0 auto 60px;
	padding: 0 20px;
	max-width: 820px;
	width: 100%;
	text-align: center;
}

.lp_footer .lp_brand-bnr .lp_title {
	margin-bottom: 18px;
	font-size: 24px;
	font-weight: bold;
}

.lp_footer .lp_brand-bnr .lp_text {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.lp_footer .lp_brand-bnr {
		margin: 0 auto;
		padding: 0 2.60417vw;
	}

	.lp_footer .lp_brand-bnr .lp_title {
		margin-bottom: 4.55729vw;
		font-size: 4.16667vw;
	}

	.lp_footer .lp_brand-bnr .lp_text {
		margin-bottom: 6.51042vw;
		font-size: 3.125vw;
	}
}

/*
	バナーリスト
------------------------------ */
.lp_footer .lp_bnr-area {
	padding: 0 20px;
}

.lp_footer .lp_bnr-area.plan {
	padding-top: 80px;
	border-top: solid 1px #868383;
}

.lp_footer .lp_bnr-list {
	margin: 0 auto 20px;
	max-width: 1260px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* バナー 1~4,7~8 */
.lp_footer .lp_bnr-list .lp_bnr-item {
	margin: 0 20px 20px 0;
	width: calc((100% - 60px) / 4);
}

.lp_footer .lp_bnr-list .lp_bnr-item:last-of-type,
.lp_footer .lp_bnr-list .lp_bnr-item:nth-child(4n) {
	margin-right: 0;
}

@media (max-width: 768px) {
	.lp_footer .lp_bnr-area {
		padding: 0 2.60417vw;
	}

	.lp_footer .lp_bnr-area.plan {
		padding-top: 10.41667vw;
	}

	.lp_footer .lp_bnr-list {
		margin-bottom: 7.16146vw;
	}

	.lp_footer .lp_bnr-list .lp_bnr-item {
		margin: 0 2.60417vw 3.90625vw 0;
		width: calc((100% - 2.60417vw) / 2);
	}

	.lp_footer .lp_bnr-list .lp_bnr-item:nth-child(4n) {
		margin-right: auto;
	}

	.lp_footer .lp_bnr-list .lp_bnr-item:last-of-type,
	.lp_footer .lp_bnr-list .lp_bnr-item:nth-child(even) {
		margin-right: 0;
	}
}

/* バナー 5~6 */
.lp_footer .lp_bnr-list.bnr5-6 .lp_bnr-item {
	margin: 0 10px 20px;
}

.lp_footer .lp_bnr-list.type2 .lp_bnr-item:last-of-type,
.lp_footer .lp_bnr-list.bnr5-6 .lp_bnr-item:nth-child(3n) {
	margin-right: 0;
}

.lp_footer .lp_bnr-list.bnr5-6 .lp_bnr-item:nth-child(4n) {
	margin-right: 20px;
}

@media (max-width: 768px) {
	.lp_footer .lp_bnr-list.bnr5-6 {
		margin-bottom: 7.16146vw;
		width: 100%;
	}

	.lp_footer .lp_bnr-list.bnr5-6 .lp_bnr-item {
		margin: 0 2.60417vw 3.90625vw 0;
		width: calc((100% - 2.60417vw) / 2);
	}

	.lp_footer .lp_bnr-list.bnr5-6 .lp_bnr-item:nth-child(3n) {
		margin-right: 2.60417vw;
	}

	.lp_footer .lp_bnr-list .lp_bnr-item:last-of-type,
	.lp_footer .lp_bnr-list .lp_bnr-item:nth-child(even) {
		margin-right: 0 !important;
	}
}

/*
	ホテルリスト
------------------------------ */
.lp_footer .lp_hotel-list {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.lp_footer .lp_hotel-list::before,
.lp_footer .lp_hotel-list .lp_hotel-item::after {
	content: "｜";
}

.lp_footer .lp_hotel-list .lp_hotel-item a {
	padding: 0 1em;
	display: inline-block;
}

@media (max-width: 768px) {
	.lp_footer .lp_hotel-list {
		margin-bottom: 5.20833vw;
		font-size: 3.125vw;
	}
}

/* ----------------------------------------------------
	fadeIn
---------------------------------------------------- */
.fadeBlock {
	opacity: 0;
	transition: all 1s;
}

.fadeBlock.fadeIn {
	opacity: 1;
}

/* ----------------------------------------------------
	pagetop
---------------------------------------------------- */
#pageTop a {
	width: 64px;
	height: 64px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}

#pageTop a img {
	width: 40px;
	transform: rotate(-90deg);
}

@media (max-width: 768px) {
	#pageTop a {
		bottom: 50px;
	}
}